[2021-09-29 05:25] LegendSumeet opened #1 "RaspberryPi Scripts"
its include  all that scripts that are compatible to all the versions and models of Raspberry Pi
i am hacktoberfest mentee
i will start on 1 oct

[2021-09-29 12:17] prathimacode-hub commented on #1
Sounds awesome @LegendSumeet. Once go through the guidelines by then and get yourself ready. 👍

[2021-10-07 08:43] pragyakhanna11 opened #2 "Alternate blinking of LED using Arduino"
## Alternate blinking of LED using Arduino

### Describe the new script you want
I wish to add the code and tinkercad model of the above mentioned problem.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-15 14:31] #2 closed, assigned to pragyakhanna11

[2021-12-12 06:30] prathimacode-hub opened #4 "IoT-Spot : Basic LED Blinking using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to activate the basic LED blinking using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first com

[2021-12-12 06:35] prathimacode-hub opened #5 "IoT-Spot : LED Control using Switch"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to control LED using switch with Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would lik

[2021-12-12 06:36] prathimacode-hub opened #6 "IoT-Spot : LED Control using Potentiometer"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to control LED using potentiometer with Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you wo

[2021-12-12 06:38] prathimacode-hub opened #7 "IoT-Spot : LED Brightness Control using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to control LED brightness with Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first se

[2021-12-12 06:40] prathimacode-hub opened #8 "IoT-Spot : RGB LED Scrolling"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to make a continuous scrolling of RGB LED's

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would

[2021-12-12 06:41] prathimacode-hub opened #9 "IoT-Spot : Reading Sensor Data using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to read sensors data using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first serve

[2021-12-12 06:42] prathimacode-hub opened #10 "IoT-Spot : Servo Motor Rotation using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how servo motor is rotated using degrees

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would like to

[2021-12-12 07:18] prathimacode-hub opened #11 "IoT-Spot : Speeding Motor using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to speed the motor using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would like to cho

[2021-12-12 07:20] prathimacode-hub opened #12 "IoT Spot : Properties Validation of Thermistors"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to validate the properties of thermistors

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first

[2021-12-12 07:22] prathimacode-hub opened #13 "IoT-Spot : Room Brightness Sensing using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to sense the room brightness using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would l

[2021-12-12 07:23] prathimacode-hub opened #14 "IoT-Spot : Temperature Sensing using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to sense the temperature using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would like

[2021-12-12 07:25] prathimacode-hub opened #15 "IoT-Spot : Humidity Sensing using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to sense the humidity using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first serve

[2021-12-12 07:27] prathimacode-hub opened #16 "IoT-Spot : Recording Gyro Sensor Data using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to record gyro sensor data using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would lik

[2021-12-12 07:28] prathimacode-hub opened #17 "IoT-Spot : Current Sensing using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to sense current using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first serve basi

[2021-12-12 07:29] prathimacode-hub opened #18 "IoT-Spot : Voltage Sensing using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to sense voltage using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first serve basi

[2021-12-12 07:30] prathimacode-hub opened #19 "IoT-Spot : LED Activation with Mic in Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to activate  LED with Mic in Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come first serv

[2021-12-12 07:32] prathimacode-hub opened #20 "IoT-Spot : Storing Sensory Data to SD Card"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to store sensory data to SD Card using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come

[2021-12-12 07:34] prathimacode-hub opened #21 "Io-Spot : Record Frequency to SD Card using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to record frequency to SD Card using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come fi

[2021-12-12 07:37] prathimacode-hub opened #22 "IoT-Spot : Battery Powered Step Counter"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to process battery powered step counter in Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first c

[2021-12-12 07:38] prathimacode-hub opened #23 "IoT Spot : LCD Welcome Message using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to get welcome message on LCD screen using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you

[2021-12-12 07:39] prathimacode-hub opened #24 "IoT-Spot : Display Time on LCD using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to display time on LCD screen using Real Time Clock in Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/app

[2021-12-12 07:41] prathimacode-hub opened #25 "IoT-Spot : Color Detection on LCD using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect color and get it displayed on LCD screen with LED's using Arduino

Sub Repo : Arduino Scripts

To get assigned to this issue, add your  tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues wil

[2021-12-12 07:44] prathimacode-hub opened #26 "IoT-Spot : Traffic Lights Controller using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to control traffic lights using arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you wou

[2021-12-12 07:45] prathimacode-hub opened #27 "IoT-Spot : Smoke Detection using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect smoke using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would like to

[2021-12-12 07:50] prathimacode-hub opened #28 "IoT-Spot : Gas Leakage Detection"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect gas leakage using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/application you would l

[2021-12-12 07:52] prathimacode-hub opened #29 "IoT-Spot : Heart Beat Monitor using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to monitor the heart beat using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first come

[2021-12-12 07:55] prathimacode-hub opened #30 "IoT-Spot : Water Level Controller"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect water level and on/off based on the detection using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gi

[2021-12-12 07:56] prathimacode-hub opened #31 "IoT-Spot : Soil Moisture Detection using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect moisture of the soil using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on a first

[2021-12-12 08:11] prathimacode-hub opened #32 "IoT-Spot : Social Distance Detector using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to detect social distance between persons using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/app

[2021-12-12 08:19] prathimacode-hub opened #33 "IoT-Spot : Home Security Alert System using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to implement home security alert system using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your participant id mentioned in this [spreadsheet](https://docs.google.com/spreadsheets/d/1SX9FubA-n1ag_0n4WmzMXd6rq5lrkFmaAWl8fhHvTWM/edit#gid=0), tool/appli

[2021-12-12 09:07] prathimacode-hub opened #34 "IoT-Spot : Alarm Clock using Arduino"
### Description

Welcome to 'IoT-Spot', good to see you here.

With this issue, the readers will get to know on how to set the alarm and control the clock using Arduino

Sub Repo : /Minor Scripts/Arduino

To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow.

Points to Note :

- The issues will be assigned on

[2021-12-12 10:17] talkshrey commented on #23
Can you assign this issue to me? I have not been assigned a participation ID yet, how do I proceed?

[2021-12-12 10:35] prathimacode-hub commented on #23
Yes, before assignment can you add out all the details mentioned above? Is your name not in participants sheet? @talkshrey

[2021-12-12 10:49] talkshrey commented on #23
My name is in the participation sheet but the participation ID field is blank in it. Yeah I will provide all details in the PR. I am going to simulate the above code in tinkercad. @prathimacode-hub

[2021-12-12 10:53] prathimacode-hub commented on #23
Ok, that's great. Approach and programming language? @talkshrey

[2021-12-12 10:56] talkshrey commented on #23
Programming language: Embdded C
Approach: 1. Will set cursor to top left of lcd
                  2. Will use lcd.print command and type the message:
                          "Welcome to
                            IOT spot"
Is the message appropriate?

[2021-12-12 11:00] prathimacode-hub commented on #23
Yes, absolutely. Go ahead. @talkshrey

[2021-12-12 11:03] talkshrey commented on #23
![image](https://user-images.githubusercontent.com/74039736/145709743-7f1f4a91-bb80-4f5c-831e-cc0e63af403a.png)
Is this looking good?

[2021-12-12 11:07] prathimacode-hub commented on #23
Yes, good. Does it has any alarm or it directly inputs the message? @talkshrey

[2021-12-12 11:12] talkshrey commented on #23
It directly inputs the message, how do you suggest i go about with the alarm?

[2021-12-12 11:16] prathimacode-hub commented on #23
This is all good for now, when we work on projects we can make it more advanced. Its fine for basic version of Welcome Message Code. @talkshrey

[2021-12-12 11:17] prathimacode-hub commented on #23
Generally in such notification codes, they add buzzer to get a beep sound when notified. @talkshrey

[2021-12-12 11:19] talkshrey commented on #23
Yeah sure I'll try that out.

[2021-12-12 11:19] prathimacode-hub commented on #23
All the best. @talkshrey

[2021-12-12 12:17] talkshrey commented on #23
![image](https://user-images.githubusercontent.com/74039736/145711792-a333afe5-bae9-4fad-b0d9-058cc59ce663.png)
I have added a buzzer which will notify before the welcome message pops up

[2021-12-12 12:24] prathimacode-hub commented on #23
Yes, go ahead. Is code ready? Check through the project structure, contributing guidelines and create a pull request using this [template](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/pullrequest_template.md). @talkshrey

[2021-12-12 12:28] talkshrey commented on #23
Yeah okay, code is ready sending a PR, pls check it out

[2021-12-12 17:54] ahananupam33 commented on #10
Hello, could you assign this issue to me? My SWOC participant ID is 63 as per the sheet

[2021-12-12 17:57] prathimacode-hub commented on #10
Also share the other details needed to assign the issue. @ahananupam33

[2021-12-12 18:03] ahananupam33 commented on #10
Tool/Application: Tinkercad
Language: Embedded C
Approach: I will be using a potentiometer to rotate the servo motor (Also I was thinking about adding an LED whose brightness would indicate the angle rotated)

[2021-12-12 18:05] prathimacode-hub commented on #10
Awesome, issue assigned to @ahananupam33

[2021-12-12 18:09] ahananupam33 commented on #10
Thank you
Just a doubt though, we have to add our github id in that participant sheet, right?

[2021-12-12 18:10] prathimacode-hub commented on #10
Yes, right you have to add it on your parallel column using comment option. @ahananupam33

[2021-12-12 18:16] ahananupam33 commented on #10
Ok, got it

[2021-12-13 10:40] baibhav3211 commented on #11
@prathimacode-hub Assign this task to me ! Thanks :)

[2021-12-13 16:20] #23 closed

[2021-12-13 16:37] #10 closed

[2021-12-14 17:28] prathimacode-hub commented on #14
Sure, issue assigned to @ritikalohia

[2021-12-15 09:07] san-13 commented on #28
Please assign me this issue
My PID: 850
Application: Tinkercad/Proteus
Language:Embedded C
Approach: Will be using gas sensor to detect leak. And then alert through a piezo buzzer.

[2021-12-16 08:17] prathimacode-hub commented on #28
Issue assigned to @san-13. Proceed.

[2021-12-18 07:01] baibhav3211 commented on #30
@prathimacode-hub  Can you please Assign this task to me ! Thanks :)
My P_ID is 239
Tool/Application : Tinkercad
Language: Embedded C
Approach: I will connect motor , buzzer and leds to simulate this project.

[2021-12-18 07:32] prathimacode-hub commented on #30
Issue assigned to @baibhav3211

[2021-12-18 07:33] #11 closed

[2021-12-19 11:02] #30 closed

[2021-12-19 11:03] prathimacode-hub commented on #28
Kindly share your progress and update alongside working. @san-13

[2021-12-19 11:03] prathimacode-hub commented on #14
Kindly share your progress alongside working. @ritikalohia

[2021-12-19 11:26] ritikalohia commented on #14
my apologies. check the PR please, @prathimacode-hub

[2021-12-19 11:40] prathimacode-hub commented on #14
No worries, its fine as long as things are updated and shared timely. And changes have been addressed. @ritikalohia

[2021-12-19 12:23] san-13 commented on #28
Yes I have created a PR. @prathimacode-hub

[2021-12-19 15:24] #28 closed

[2021-12-19 15:24] ritikalohia commented on #26
Assign me the task @prathimacode-hub

[2021-12-19 15:30] prathimacode-hub commented on #26
Issue assigned to @ritikalohia

[2021-12-19 15:31] #14 closed

[2021-12-19 15:58] baibhav3211 commented on #32
@prathimacode-hub Please assign this task to me!
P_ID: 239
Tool/Platform: Tinkercad
Language: Embedded C
Approach: Using Ultraosonic sensor for social distance detector

[2021-12-19 16:27] prathimacode-hub commented on #32
Issue assigned to @baibhav3211

[2021-12-20 06:21] prathimacode-hub commented on #23
Can you share your participant ID? @talkshrey

[2021-12-21 11:19] ritikalohia commented on #26
## Related Issue

- Info about the related issue

- [ ] DWOC Participant
- [x] SWOC Participant
- [ ] Contributor

Closes: #26 number that will be closed through this PR

### Describe the changes you've made

I have made a new folder named traffic light controller, In which images, video , code and readme file are present.

## Type of change

What sort of change have you made:

- [ ] Bug fix (non-

[2021-12-21 13:03] prathimacode-hub commented on #26
You shouldn't add it in issues. You have to include in it in your commit message while creating PR. @ritikalohia

[2021-12-24 10:23] #26 closed

[2022-01-07 23:07] NILESHSTARK commented on #4
Hello I am interested to fix this issue  Basic LED Blinking using Arduino

[2022-01-08 05:15] prathimacode-hub commented on #4
Awesome, kindly provide the details asked to get it assigned. @NILESHSTARK

[2022-01-10 19:19] talkshrey commented on #34
Can you assign this issue to me? Also how do you want me to do it?

[2022-01-11 06:20] prathimacode-hub commented on #34
Ok, so this issue states that you set an alarm time using i/o pins and adding delays. It should buzz when time strikes. @talkshrey

[2022-01-11 06:20] prathimacode-hub commented on #34
If you're ready to proceed, provide me your details to get it assigned. @talkshrey

[2022-01-11 12:54] talkshrey commented on #34
Participant ID:918
Participant name: SHREY PAREKH
I would like to do this task

[2022-01-11 12:58] prathimacode-hub commented on #34
Issue assigned to @talkshrey

[2022-01-11 13:08] talkshrey commented on #34
Extremely sorry @prathimacode-hub my project ID is 41

[2022-01-11 13:10] prathimacode-hub commented on #34
I need participant id only not project id @talkshrey

[2022-01-11 14:33] talkshrey commented on #34
https://user-images.githubusercontent.com/74039736/148962107-b3a6ca1d-ea60-4d9b-8758-9dd8d65f38c7.mp4

Does this work?

[2022-01-11 15:04] prathimacode-hub commented on #34
No, this is like creating a buzzer for some amount of time. Our project is alarm clock which would show like on. You have to set a time in HH:MM:SS format and when you input the time manually of when you want your alarm to ring, it should buzz then. @talkshrey

[2022-01-19 12:29] shreya024 commented on #5
@prathimacode-hub Kindly assign me this issue, my SWOC participant id is 921.
Tool/application= tikercad
language= embeded C
Approach= I will use a pushbutton switch to control the turn on/off the LED using Arduino.

[2022-01-19 12:31] prathimacode-hub commented on #5
Issue assigned to @shreya024. you can proceed

[2022-01-19 15:05] #5 closed

[2022-01-19 15:06] prathimacode-hub commented on #32
Update please? @baibhav3211

[2022-01-19 15:06] prathimacode-hub commented on #34
Update please? @talkshrey

[2022-01-19 16:45] talkshrey commented on #34
Sorry for the delay, I am not able to figure what tool can I use to measure real time

[2022-01-19 17:13] baibhav3211 commented on #32
I will do it by tmrw...sorry for the delay😷

[2022-01-19 17:34] prathimacode-hub commented on #32
Ok @baibhav3211

[2022-01-20 02:40] shreya024 commented on #6
@prathimacode-hub I would like to work on this issue, my SWOC participant id is 921.
Tool/application= tikercad
language= embeded C
Approach= I will use a potentiometer to control the brightness of the LED using Arduino.

[2022-01-20 05:57] prathimacode-hub commented on #6
Issue assigned to @shreya024

[2022-01-20 08:57] #6 closed

[2022-01-20 08:58] prathimacode-hub commented on #34
Why what happen? Where are you stuck? @talkshrey

[2022-01-20 11:45] shreya024 commented on #8
@prathimacode-hub I would like to work on this issue, my SWOC participant id is 921.
Tool/application= tikercad
language= embeded C
Approach= I will use one RGB LED to show continuous change of red,blue and green color of the LED using Arduino.

[2022-01-20 13:32] prathimacode-hub commented on #8
Issue assigned to @shreya024

[2022-01-21 05:22] #8 closed

[2022-01-21 11:28] shreya024 commented on #13
@prathimacode-hub I would like to work on this issue, my SWOC participant id is 921.
Tool/application= tikercad
language= embeded C
Approach= I will use a photoresistor as a light sensor and control the speed of blinking of the LED to detect darkness/brightness in the room using Arduino.

[2022-01-21 11:50] prathimacode-hub commented on #13
Issue assigned to @shreya024

[2022-01-22 05:55] #13 closed

[2022-01-25 01:31] shreya024 commented on #27
@prathimacode-hub I would like to work on this issue, my SWOC participant id is 921.
Tool/application= tikercad
language= embeded C
Approach= I will use a Gas Sensor to detect the density of smoke and fire a Piezo Buzzer to strike if the smoke density crosses a the safe limit.

[2022-01-25 07:09] prathimacode-hub commented on #27
Awesome. Go ahead. Issue assigned. @shreya024

[2022-01-25 14:53] #27 closed

[2022-01-30 11:45] #32 closed

[2022-02-04 16:41] ritikalohia commented on #33
assign me the respective task.

[2022-02-04 17:09] prathimacode-hub commented on #33
Issue assigned to @ritikalohia

[2022-02-13 05:53] #33 closed

[2022-02-28 04:54] SiddhantPawar03 commented on #34
@prathimacode-hub I'm GSSOC'22 Contributor, would be glad if you assign me this task.

[2022-02-28 05:00] SiddhantPawar03 commented on #7
@prathimacode-hub I'm GSSOC'22 Contributor, would be glad if you assign me this task.

[2022-02-28 05:01] SiddhantPawar03 commented on #4
@prathimacode-hub I'm GSSOC'22 Contributor, I would like to work on same issue.

[2022-02-28 05:03] SiddhantPawar03 commented on #15
@prathimacode-hub I'm GSSOC'22 Contributor, I would like to work on same issue.

[2022-02-28 05:06] SiddhantPawar03 commented on #31
@prathimacode-hub I'm GSSOC'22 Contributor, I would like to work on same issue, please assign me this task.

[2022-02-28 06:06] nitishkumar07 opened #52 "projects on 8051 Microcontroller"
projects using assembly language and c programming in 8051 Microcontroller.
can I do it?

[2022-02-28 08:03] rittikadeb commented on #24
Hi @prathimacode-hub, I am a GSSOC'22 contributor. I would like to work on this issue.

[2022-02-28 08:13] rittikadeb commented on #34
Hi @prathimacode-hub, I am a GSSOC'22 contributor. I would like to work on this issue.

[2022-02-28 08:15] rittikadeb commented on #9
Hi @prathimacode-hub, I am a GSSOC'22 contributor. I would like to work on this issue. Can you please specify about the type of sensor?

[2022-02-28 08:17] rittikadeb commented on #18
Hi @prathimacode-hub, I am a GSSOC'22 contributor. I would like to work on this issue.

[2022-02-28 16:40] vaishnavighiradkar commented on #4
I'm a contributor in GSSOC-22.
Can you assign this issue to me?

[2022-02-28 21:37] Jyo561 opened #53 "IoT Spot : Pressure Detection using Arduino"
Title:Pressure detection using Arduino

About:I will use an arduino, force sensor and multimeter to bring this to life

Name:Jyotiraditya Kuanar

Label:

[x]GSSOC Participant
[] SWOC Participant
[] Contributor

Will be using c++ as the code and make user of Force sensor, Multimeter, battery and arduino to bring it into effect

[2022-02-28 21:38] Jyo561 opened #54 "Display Time on LCD using Raspberry PI"

[2022-03-01 06:39] rk18venom commented on #4
Hello I am GSSOC 22 contributor.
I am interested to work on this issue.

[2022-03-01 06:41] rk18venom commented on #7
@prathimacode-hub I am GSSOC 22 Contributor, I would to like to contribute in this issue. Can you assign me this issue?

[2022-03-01 06:43] rk18venom commented on #19
Hello @prathimacode-hub I am GSSOC 22 contributor, I would like to do this, Can you assign me this issue?

[2022-03-01 09:13] rk18venom opened #55 "Remote Control Car Circuit Using Arduino on TinkerCad"
I am GSSOC 22 Contributor. I have made this circuit want to add it in your repository.

[2022-03-01 12:18] SarthakSKumar commented on #17
Hey there. Can you please assign this issue to me? Waiting for your reply

[2022-03-01 12:27] SarthakSKumar commented on #24
Hey there. I am a GSSOC '22 Contributor. Can I please work on this issue?

[2022-03-01 12:28] SarthakSKumar commented on #15
Hey there. I am a GSSOC '22 Contributor. Can I please work on this issue?

[2022-03-01 12:28] SarthakSKumar commented on #18
Hey there. I am a GSSOC '22 Contributor. Can I please work on this issue?

[2022-03-01 12:30] vaishnavighiradkar commented on #29
I'm a contributor in GSSOC-22. I would like to work on this issue.

[2022-03-01 12:46] GnanambhalSvRam commented on #53
Hi ma'am! Can you please assign me to this issue?

[2022-03-01 13:49] CS50X-RGB commented on #25
Mam i am ROHAN CHATTERJEE from GSSOC '22 i would like to take this issue

[2022-03-01 15:30] prathimacode-hub commented on #34
Contribution starts from today so whoever expresses the interest right now will be assigned on FCFS basis. @rittikadeb @SiddhantPawar03

[2022-03-01 15:31] prathimacode-hub commented on #31
Contribution starts from today so whoever expresses the interest right now will be assigned on FCFS basis. You can work on 1 issue at a time, so choose wisely. @SiddhantPawar03

[2022-03-01 15:32] prathimacode-hub commented on #29
Sure, go ahead with your work. Issue assigned @vaishnavighiradkar

[2022-03-01 15:33] prathimacode-hub commented on #25
Can you explain your approach and tool you'll be taking up? @CS50X-RGB

[2022-03-01 15:34] GnanambhalSvRam commented on #34
Mam, I would like to take up this issue to work on. I'm a GSSOC'22 contributor.

[2022-03-01 15:35] prathimacode-hub commented on #24
Yes,  let me know of your approach with this issue and tool you will use to get it assigned? @SarthakSKumar

@rittikadeb Kindly choose issue wisely and contributors who express interest on FCFS basis starting today will be assigned. You can work on only 1 issue at a time.

[2022-03-01 15:37] prathimacode-hub commented on #19
Absolutely, let me know of the approach and tool you would use to get it assigned. @rk18venom

[2022-03-01 15:38] prathimacode-hub commented on #18
@SarthakSKumar You can work on only 1 issue at a time, so choose it wisely

@rittikadeb, contribution starts from today, so participants who express interest would be assigned on FCFS basis

[2022-03-01 15:39] prathimacode-hub commented on #17
Choose one out of multiple issues you had expressed interest for? @SarthakSKumar

[2022-03-01 15:40] prathimacode-hub commented on #15
@SarthakSKumar, clarity on issue please to be chosen?

@SiddhantPawar03, expressing interest over issues from today onward will be assigned on FCFS basis.

[2022-03-01 15:41] prathimacode-hub commented on #7
@SiddhantPawar03 @rk18venom You can work on only one issue at a time, so choose the issue wisely

[2022-03-01 15:43] prathimacode-hub commented on #55
Kindly follow the issue template provided [here](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md) along with the approach you would take up and tool you would use to get it assigned. @rk18venom

[2022-03-01 15:43] SarthakSKumar commented on #24
Thanks for your reply. I am planning on using DS3232 RTC Module, 16x2 LCD and a Uno Board. I have worked on this project before, and have the source for the same

[2022-03-01 15:44] prathimacode-hub commented on #54
Kindly follow the issue template provided [here](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md) along with the approach you would take up and tool you would use to get it assigned.  @Jyo561

[2022-03-01 15:44] SarthakSKumar commented on #18
I shall go with the Project: Displaying Time in LCD. Thanks for the reply

[2022-03-01 15:45] SarthakSKumar commented on #17
Yes. Sure. I shall go with Displaying Time on LCD. Thanks for you reply

[2022-03-01 15:46] prathimacode-hub commented on #53
Kindly follow the issue template provided [here](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md) along with the approach you would take up and tool you would use to get it assigned.  @Jyo561

This issue is created by a contributor. You can come up with an own issue or choose up from existing issues by expressing interest by mentioning  your approac

[2022-03-01 15:47] prathimacode-hub commented on #52
8051 is allowed. Be specific with project title along with issue template provided [here](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md), the approach you would follow and what tool you would use up. Also mention yourself as GSSOC contributor @nitishkumar07

[2022-03-01 15:50] CS50X-RGB commented on #25
Mam i don't know Arduino but i read some webpages came across to know about the tools part that it needed LCD display, sensor(for detecting the colour) and for the the approach part I am learning about.

[2022-03-01 16:03] Jyo561 commented on #53
@prathimacode-hub maam its done can now i get it assigned

[2022-03-01 16:14] prathimacode-hub commented on #25
That sounds lively. You're free to explore as much as you could. Issue assigned. You can take up tinker cad for simulation purpose. Drop a message anytime up for queries @CS50X-RGB

[2022-03-01 16:21] SiddhantPawar03 commented on #31
Alright, So @prathimacode-hub  can I start working on this issue for now?

[2022-03-01 16:24] CS50X-RGB commented on #25
Ok mam I am happy to get my first issue and if I get any queries I will let you know will thinkercad as I mentioned

[2022-03-01 16:26] prathimacode-hub commented on #34
Issue assigned to @GnanambhalSvRam. Let me know of the approach you would take up and tool you would use.

[2022-03-01 16:29] prathimacode-hub commented on #31
Ok, so let me know your approach you would take up and tool you would use to get it assigned @SiddhantPawar03

[2022-03-01 16:30] prathimacode-hub commented on #25
All the best. Yup. @CS50X-RGB

[2022-03-01 16:31] prathimacode-hub commented on #24
Issue assigned to @SarthakSKumar

[2022-03-01 16:34] prathimacode-hub commented on #17
Ok 👍@SarthakSKumar

[2022-03-01 16:37] prathimacode-hub commented on #9
Kindly express your interest today along with details mentioned to count under this open source program and get it assigned. @rittikadeb

[2022-03-01 16:38] #1 closed

[2022-03-01 16:38] SiddhantPawar03 commented on #31
I would work on Arduino UNO using tinkercad.
I would take a temperature sensor (LM35), would take analog values check for variety of conditions and displaying for same.

[2022-03-01 16:39] prathimacode-hub commented on #53
Ok issue assigned. You can proceed. @Jyo561

[2022-03-01 16:50] vaishnavighiradkar commented on #29
Ma'am, i'm unable to find the heartbeat sensor on tinkercad.

[2022-03-01 16:57] rittikadeb opened #57 "ARDUINO HOME SECURITY SYSTEM"
Hi @prathimacode-hub , I am a GSSOC'22 contributor.
I would like to add the project Arduino Home Security System. I will be using Tinkercad for the simulation and various components like keypad for entering the password, IR sensor for movement detection, alarm, LCD etc.

I would be glad if you could kindly assign me this issue.

[2022-03-01 17:00] prathimacode-hub commented on #57
Yup, sure. Just add an issue [template](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md) using edit option along with details mentioned above. It will be all good to get it assigned. @rittikadeb

[2022-03-01 17:01] GnanambhalSvRam commented on #34
Thank you ma'am. May I know how long do I have before informing you about the approach and the tool to be used?

[2022-03-01 17:05] SarthakSKumar commented on #24
Thank you!

[2022-03-01 17:08] rittikadeb commented on #57
Hey @prathimacode-hub I edited the issue. Would be glad if you would kindly assign it.

[2022-03-01 17:09] prathimacode-hub commented on #34
Right now without which issue can't be assigned. You don't have to elaborate, just add short intro and details asked for. @GnanambhalSvRam

[2022-03-01 17:10] prathimacode-hub commented on #57
Issue assigned to @rittikadeb. All the best.

[2022-03-01 17:17] ShambhaviDixit09 opened #59 "Design better logo"
Hello,
I am a GSSOC 2022 participant and I would like to make a better logo for this project to make it display on the navbar. So, i would request you to assign me this work

[2022-03-01 17:23] Ankit62042 commented on #59
I want to work on this issue

[2022-03-01 17:27] prathimacode-hub commented on #59
Interesting choice of the first issue. Go ahead. All the best. @ShambhaviDixit09

[2022-03-01 17:28] prathimacode-hub commented on #59
@Ankit62042 Issue assigned on FCFS basis and create your own issue or express interesting in existing open issues according to what it is right now.

[2022-03-01 17:43] nitishkumar07 commented on #7
I am GSSOC Contributor
I would like to work on this issue
I use tinkercad for simulation
can you assign me this issue? @prathimacode-hub

[2022-03-01 17:53] prathimacode-hub commented on #7
Yes, issue assigned. What's the approach? @nitishkumar07

[2022-03-01 18:06] nitishkumar07 commented on #7
I use arduino uno r3, Led, and register.
change brightness form 0 to 255 by using loop
with delay 20
loop runs till it reaches 255
add another loop to reduce brightness till 0.

[2022-03-02 04:59] shreya024 commented on #12
@prathimacode-hub I would like to work on this issue, I am a contributor of GSSOC'22.
Tool/application= tikercad
language= embeded C
Approach= I will use a TMP36 Temperature Sensor and control the temperature and register the output with three resistors and LEDs to show the properties of a thermistor using Arduino.

[2022-03-02 06:20] #7 closed

[2022-03-02 09:58] rittikadeb opened #62 "Arduino Based Vehicle Accident Prevention System"
Title: Arduino Vehicle Accident Prevention System
Name: Rittika Deb
Label: New project

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Describe the solution you'd like...**

The project deals with prevention of accident by sending alarm and a warning message to the driver if there are other vehicles in the vicinity. It also has a feature of automatic breaking system.

**Approach to be f

[2022-03-02 10:07] prathimacode-hub commented on #17
To get assigned to this issue, respond with your tool/application you would like to choose. the programming language and the approach you would follow. @aditisharma001

[2022-03-02 10:08] prathimacode-hub commented on #12
Issue assigned to @shreya024. All the best.

[2022-03-02 10:12] prathimacode-hub commented on #4
@rk18venom, provide the mentioned details to get it assigned.

For this issue, since the interest is expressed 2 days ago it might not count in the program. And @vaishnavighiradkar, you got 1 issue assigned to you right?

@SiddhantPawar03, you stand a chance to get this issue assigned if you're not working on an another issue. If so provide the mentioned details needed.

[2022-03-02 10:18] Anirban-1490 opened #63 "Social media icons are not aligned correctly"
Title: Social media icons are not aligned correctly
About: position issue of social media icons
Name: Anirban Pratihar
Label: Bug Report
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

 YES

**Describe the Bug**

social media icons in contact us page is not aligned correctly

**Expected Behavior**

![Opera Snapshot_2022-03-02_154420_prathimacode-hub github io](https://us

[2022-03-02 10:28] silkie261001 commented on #4
Hello I am GSSOC 22 contributor.
I am interested to work on this issue.

[2022-03-02 10:31] silkie261001 commented on #22
Hello I am GSSOC 22 contributor.
I am interested to work on this issue.

[2022-03-02 10:36] silkie261001 opened #64 "While hovering on about and contact icon not changing their colours"

[2022-03-02 10:36] silkie261001 commented on #64
Hello I am GSSOC 22 contributor.
I am interested to work on this issue.

[2022-03-02 10:37] silkie261001 commented on #63
Hello I am GSSOC 22 contributor.
I am interested to work on this issue.

[2022-03-02 10:47] prathimacode-hub commented on #4
@silkie261001, provide the mentioned details to get it assigned

[2022-03-02 11:02] rk18venom commented on #55
Hello, so I am using TinkerCad for making the circuit in which i am using motor driver L239D, Arduino UNO R3, two motors, and breadborad.
So when we input F from serial monitor which means move forward so both motor will rotate in clockwise direction and in the same way we will give input like B (Backward), Left(L), Right(R) and S(Stop) by changing the direction of rotation of motors.

[2022-03-02 11:28] prathimacode-hub commented on #22
Provide the details and choose one issue instead of commenting on multiple ones and let me know of it. @silkie261001

[2022-03-02 11:33] prathimacode-hub commented on #64
Use [issue template](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/bug_report.md) given and add what the issue is about and your approach you would follow along with screenshot to get it assigned. @silkie261001

[2022-03-02 11:40] Anirban-1490 commented on #63
done .check it

[2022-03-02 11:42] prathimacode-hub commented on #63
Issue assigned to @Anirban-1490. Go ahead

[2022-03-02 11:42] Anirban-1490 commented on #63
thank you :)

[2022-03-02 11:43] prathimacode-hub commented on #55
Also add the same details using the [issue template](https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md) provided for getting it assigned. @rk18venom

[2022-03-02 11:54] rk18venom commented on #55
Title: Remote Control Car Circuit Using Arduino on TinkerCad #55
About: We will give the command to the RC car for moving forward, backward, etc.
Name: Rahul Kashyap
Label: Feature Request

Define You:

 GSSOC 22 Contributor

I have not talked with the program manager before creating this issue. So, I want to add this file of RC Car Circuit Simulation to this repo.

Approach to be followed (option

[2022-03-02 13:44] SarthakSKumar commented on #4
I'm willing to work on this issue.
Tool/Application: Arduino IDE, Fritzing, Embedded C Language
Components: Arduino Uno, LED, Jumper Wires/Connectors

[2022-03-02 14:06] vedsom opened #69 "Image and IOT-DESIGN logo stack on each other for medium screens, contact redesign"
Title: Image and IOT-DESIGN logo stack on each other for medium screens and some changes to contact section
About: Create a report to help us improve.
Name: Abhishek Pandey
Label: Bug Report
Assignee: ''

Define You:

- [x] GSSOC Participant

- [x] Contributor

**Describe the Bug**

1. If we reduce the size of screen to medium one than the image and the IOT-DESIGN logo above contact and about get

[2022-03-02 15:23] prathimacode-hub commented on #55
Issue assigned to @rk18venom

[2022-03-02 17:55] prathimacode-hub commented on #4
Great, issue assigned to @SarthakSKumar

[2022-03-02 18:00] SiddhantPawar03 commented on #15
@prathimacode-hub I have recently done my GSSOC'22 first assigned task, further I would like to work on Humidity-Sensing using arduino. Basically I would use arduino uno along with neopixel to detect humidity, would set variety of color conditions and find the solution for the same.
Looking forward to contribute for the issue, Please do assign me task!

[2022-03-02 19:15] ZeyadTarekk opened #72 "Bug Report"
---
Title: Fix a bug in the projects section
Name: Zeyad Tarek
Label: Bug Report
Assignee: ''

---

I'm a GSSOC Participant

**Describe the Bug**
In the projects section the icons are going up here is screenshot for the bug
https://drive.google.com/file/d/1__tQh9OYNdhqEK_1jltXGGKCUPAas4Tf/view?usp=sharing

**Steps to Reproduce**

Steps to reproduce the behavior:

1. I can fix it and here is a scre

[2022-03-02 21:27] Rhydham2809 opened #74 "Creating a more attractive navbar"
I can create more attractive nav bar with more css effects.
I am gssoc 2022 participate kindly assign this issue to me.

[2022-03-03 03:30] abhisheks008 commented on #72
This bug is already reported by other contributor and is fixed by him/her. Try to find out some other area to contribute @ZeyadTarekk

[2022-03-03 03:46] shreya024 commented on #12
Thank you,is it okay if I use LCD display to show the changing resistance instead of LEDs?

[2022-03-03 09:11] SarthakSKumar commented on #15
Thank you for the reply

[2022-03-03 09:12] SarthakSKumar commented on #4
Thank you for the reply

[2022-03-03 10:13] SiddhantPawar03 commented on #18
@prathimacode-hub I've done my two task for GSSOC'22, further interested to contribute more, I would like to contribute on same issue of measuring voltage using arduino.
I would work on tinkercad simulation, would take analog input voltage value do few computations using known resistors and would display the result for same.
Please do assign me this issue!

[2022-03-03 10:52] AdityaTheDev opened #76 "I'll create a fantastic car parking system project using Arduino."
I'm a Gssoc22 contributor

[2022-03-03 11:50] rk18venom commented on #9
---
Title: Reading Sensor Data using Arduino #9
About: Sensing the distance of object using ultrasonic sensor and printing it on serial monitor.
Name: Rahul Kashyap
Label: New Project
Assignee: rk18venom

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives y

[2022-03-03 11:54] vaishnavighiradkar commented on #9
I have solved this issue using gas sensor , 3 led lights (red, green, yellow) to show the level of gas intensity and a buzzer on tinkercad. . At High intensity of gas , buzzer buzzes. It is working properly. please assign this issue to me

[2022-03-03 12:13] prathimacode-hub commented on #9
Sorry, you missed the assignment by few mins. @vaishnavighiradkar

[2022-03-03 12:46] vaishnavighiradkar opened #77 "To detect smoke level using gas sensor"
With this issue, the readers will get to know how to read data from gas sensors using Arduino.

Domain
Internet Of Things

[2022-03-03 12:58] Sreemoyee26 opened #78 "Add animation effect to IoT landing image on hovering"
---
Title: Add animation effect to IoT landing image on hovering
About: making the image have a animation on hovering like it moves on moving cursor over it.
Name: Sreemoyee Sadhukhan
Label: Feature Request
---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

-  The IoT image in the home page is simple and static. It is no

[2022-03-03 12:59] Sreemoyee26 commented on #78
I am a GSSOC' 2022 Contributor

[2022-03-03 14:08] vaishnavighiradkar commented on #29
![Screenshot (169)](https://user-images.githubusercontent.com/86549424/156580744-e926c47d-e19b-4e5f-a32d-3289573b04f8.png)

[2022-03-03 14:10] vaishnavighiradkar commented on #29
@prathimacode-hub mam it is working now.
While screen-recording simulation, the virtual terminal is not visible as it is another tab apart from proteus.

[2022-03-03 14:21] prathimacode-hub commented on #29
Ok you add this screenshot and just the simulation of however it comes. @vaishnavighiradkar

[2022-03-03 14:28] vaishnavighiradkar commented on #29
https://user-images.githubusercontent.com/86549424/156584570-8ffe7872-bc2a-4154-8f7b-676eb32fc75c.mp4

[2022-03-03 14:29] vaishnavighiradkar commented on #29
is this okay @prathimacode-hub ?

[2022-03-03 17:43] ruhanirawal commented on #52
I would like to work on this issue since it's still open!

[2022-03-03 19:02] advaita-saha opened #81 "Real-time Gas Leakage Detection Software with UI & system Alert"
## 🚀 Feature

Detection of gas leakage or smoke, and also notifying the user at the moment of detection, using a system pop up warning

## Motivation

So gas leakage is a big issue, due to which a lot of accidents happen and a lot of lifes are lost also. So I think this would be great feature to contribute during the GSSoC'22

### Tech Used
Arduino, Firmata, Python

[2022-03-03 19:03] advaita-saha commented on #81
Can you please assign this issue to me @prathimacode-hub so that I can start working on this as a part of GSSoC'22?

[2022-03-03 19:50] ABHID10 opened #82 "UI enhancement on Blog page"
Changing UI of Blog Page https://prathimacode-hub.github.io/IoT-Spot/assets/blog.html
Tech Stack -
- [x] HTML
- [x] CSS
- [x] Javascript

GSSoC-22

[2022-03-04 05:52] sceary-expert commented on #22
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:53] sceary-expert commented on #21
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:53] sceary-expert commented on #20
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:53] sceary-expert commented on #19
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 05:55] sceary-expert commented on #17
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 14:21] rv602 opened #83 "Improvement in README.md file"
hey @prathimacode-hub ,

In the README.md file, the hyperlinks attached open the links in the same tab which may cause a bit of inconvenience as contributors would like to have the repo tab and prefer the other links in a new tab.
Also, there were a few reference links/repos, having this hyperlinking issue.
I would furthermore like to put all the reference site and repos in a tabular manner which

[2022-03-04 15:10] simransaini212 opened #84 "Website is not responsive"
Hi, Simran Saini this side GSSOC22 contributor
I have checked the website, styling fonts and everything is awesome but there is no responsiveness in your website. The Single picture covers all the stuff as we minimise the page size.
You can assign me this issue so that I can fix this.

[2022-03-04 16:20] #63 closed

[2022-03-04 16:22] #62 closed

[2022-03-04 16:26] itsAftabAlam opened #86 "wrong hyperlink in README.md"
i hope the below mentioned PR fixes this. please review

[2022-03-04 16:28] #12 closed

[2022-03-04 16:30] #9 closed

[2022-03-04 16:33] prathimacode-hub commented on #15
Oops, I had to assign this issue to @SiddhantPawar03 instead of @SarthakSKumar on FCFS basis. But somehow I missed it due to same starting letter S. For now, I will accept both the PRs. From next onwards, only 1 can work in a single issue.

[2022-03-04 16:38] prathimacode-hub commented on #20
To get assigned to this issue, add your tool/application you would like to choose. the programming language and the approach you would follow. @sceary-expert

[2022-03-04 16:39] prathimacode-hub commented on #21
Choose 1 issue and let me know along with mentioned details asked to get it assigned. You can work on only 1 issue at a time. @sceary-expert

[2022-03-04 16:40] prathimacode-hub commented on #29
This is ok. For virtual terminal, you can take a screenshot and add it. @vaishnavighiradkar

[2022-03-04 16:41] prathimacode-hub commented on #34
Its been 3 days and you haven't mentioned the approach after you got assigned. You can't hold it for so long else it will be kept open again for others to take up. @GnanambhalSvRam

[2022-03-04 16:42] prathimacode-hub commented on #52
Create a new issue with issue template provided mentioning the specific issue title along with details of what the issue is. @ruhanirawal

[2022-03-04 16:45] prathimacode-hub commented on #72
You can just edit out here with new issue. @ZeyadTarekk

[2022-03-04 16:46] prathimacode-hub commented on #74
Yup, sure. But kindly use the issue template provided and include the issue details along with approach you would follow to get it assigned. @Rhydham2809

[2022-03-04 16:46] prathimacode-hub commented on #76
Yup, sure. But kindly use the issue template provided and include the issue details along with tool you'll use and approach you would follow to get it assigned. @AdityaTheDev

[2022-03-04 16:48] prathimacode-hub commented on #77
Smoke detection is done already if this is what you meant. https://github.com/prathimacode-hub/IoT-Spot/tree/main/Arduino/Smoke%20Detection%20Using%20Arduino @vaishnavighiradkar

[2022-03-04 16:49] prathimacode-hub commented on #78
Yup, sure. Can you use issue template provided with the same details you had mentioned right now along with approach you would follow to get it assigned. @Sreemoyee26

[2022-03-04 16:50] prathimacode-hub commented on #81
This is an awesome feature to be added and needful. Can you include the issue template along with above mentioned details and approach you would follow to get it assigned? @advaita-saha

[2022-03-04 16:51] prathimacode-hub commented on #82
This is a good enhancement. Can you include the issue template provided along with mentioning the issue details and approach you would follow to get it assigned? @ABHID10

[2022-03-04 16:53] prathimacode-hub commented on #83
This add-on would be great. But it won't be labelled a GSSoC tag. If that's ok for you, let me know so that I can assign @rv602

[2022-03-04 16:54] prathimacode-hub commented on #84
Yes, please include the issue template provided along with issue details and approach you would follow to get it assigned. @simransaini212

[2022-03-04 16:55] prathimacode-hub commented on #86
Hmm, but you shouldn't create a PR without getting an issue assigned. And this is quite a low level change, and as we have only 3 levels for GSSoC, the add-on won't count under this program. If it's ok for you I can assign it. @itsAftabAlam

[2022-03-04 17:02] ruhanirawal opened #88 "Introduction to 8051 MicroController"
https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md

Title: 8051 Micrcontroller
Name: Ruhani Rawal
Define yourself:
- [x] GSSOC participant
Contributor

Approach/Solution:
I'll be updating the README file for the 8051 microcontroller. I'll be including the History, Architecture, Applications, Programming basics using Assembly Language.

[2022-03-04 17:06] prathimacode-hub commented on #88
@ruhanirawal, this shows addition of 4 projects. Be curative of the issue title. You can work on one after the other. Go through the contributing guidelines and README file of the project for structure. You have issue template provided. Include it here along with the issue details and approach you would follow for that specific issue title. And you can work on only 1 issue at a time. Good upfront

[2022-03-04 17:15] GnanambhalSvRam commented on #34
Apologies mam. I'm trying to figure it out. I'll be using Arduino and Wokwi Arduino Simulator along with few push buttons to specifically set the hours and minutes.

[2022-03-04 17:16] prathimacode-hub commented on #34
Ok, so are you ready to take up this issue? @GnanambhalSvRam

[2022-03-04 17:18] GnanambhalSvRam commented on #34
Yes ma'am. I am ready to take this up.

[2022-03-04 17:19] SarthakSKumar commented on #15
Ok ma'am. Sure. Will keep this in mind. Thank you!

[2022-03-04 17:22] rv602 commented on #83
yes @prathimacode-hub that's okay by me, just feel good to notice these things and get these ideas 😃.
You may assign this to me.

[2022-03-04 17:23] prathimacode-hub commented on #34
Ok, issue assigned to @GnanambhalSvRam

[2022-03-04 17:36] #77 closed

[2022-03-04 23:13] Sreemoyee26 commented on #78
updated as per the template.

[2022-03-05 02:01] shreya024 commented on #22
@prathimacode-hub I would like to work on this issue, I am a contributor of GSSOC'22.
Tool/application= tikercad
language= embeded C
Approach= I will use a tilt Sensor to detect walking movement and  register the number of steps with a lcd display using a battery powered Arduino.

[2022-03-05 06:38] SiddhantPawar03 opened #90 "Automated Hand Sanitizer Dispenser"
---
Title: Automated Hand Sanitizer Dispenser
About: Useful in ongoing pandemic
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
<br>Yes, the problem is very much related in ongoing pandemic i.e Covid-19 as avoiding touching of hands is necessity nowadays, in ord

[2022-03-05 09:19] #4 closed

[2022-03-05 11:46] prathimacode-hub commented on #88
Include why its used as well. Issue assigned to @ruhanirawal

[2022-03-05 11:48] prathimacode-hub commented on #90
Issue assigned to @SiddhantPawar03

[2022-03-05 11:49] prathimacode-hub commented on #83
Glad to know. Go ahead. @rv602

[2022-03-05 11:50] prathimacode-hub commented on #78
Issue assigned to @Sreemoyee26

[2022-03-05 11:51] prathimacode-hub commented on #22
Issue assigned to @shreya024

[2022-03-05 11:52] prathimacode-hub commented on #19
Provide the details mentioned to get it assigned. @sceary-expert

[2022-03-05 11:53] prathimacode-hub commented on #18
Issue assigned to @SiddhantPawar03

[2022-03-05 11:54] prathimacode-hub commented on #17
Decide on one and give asked details to get it assigned. @sceary-expert

[2022-03-05 12:22] nitishkumar07 opened #91 "DC Motor Interfacing using 8051 Microcontroller"
I am a GSSOC'22 contributor.

I want to do project on DC Motor.
rotation of Dc Motor in clockwise and anticlockwise

Use of tools: Proteus 8 for simulation, keil for writing program.
I use c programming
components: AT89C51 microcontroller, DC Motor, ICL29D,switches.

[2022-03-05 13:48] SachinMittal1766 opened #95 "Design and Code Blog page"
Hi, Blog page is not designed and coded. So I want to work on this. Can you @prathimacode-hub please assign it to me.
I am attaching a UI design below:
![IoT-Spot](https://user-images.githubusercontent.com/82721772/156886117-7370c0c1-9097-466d-862a-005f6f7b2b87.png)

[2022-03-05 14:08] prathimacode-hub commented on #91
Can you add the issue template provided and include these details to get it assigned. @nitishkumar07

[2022-03-05 14:09] prathimacode-hub commented on #95
Yes, sure. But kindly add the issue template along with issue details mentioned and approach to get it assigned. @SachinMittal1766

[2022-03-05 14:46] SachinMittal1766 commented on #95
---
Title: IOT-Spot
About: Adding blog page
Name: Sachin Mittal
Label: Feature Request
Assignee: ''

---

Define You:

- [ ] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Blog page is not made.

**Describe the solution you'd like...**

I have added the UI of page. So I will make the page similar to it.
![IoT-Spot](https://user-images.githu

[2022-03-05 15:11] nitishkumar07 commented on #91
---
Title: DC Motor Interfacing using 8051 Microcontroller
About: rotation of dc motor in clockwise and anti clickwise direction
 Name: Nitishkumar J G
Label: GSSOC'2022
Assignee: ''

---

Define You:

- [ X ] GSSOC Participant
- [ X ] Contributor

**Is your feature request related to a problem? Please describe.**
no, it helps in learning dc motor operation and 8051 microcontroller

**Describe the

[2022-03-05 15:19] itsAftabAlam commented on #86
@prathimacode-hub  I apologize for creating PR before getting it assigned. I look for to make more relevant issues.

[2022-03-05 17:07] rittikadeb opened #96 "Arduino Based Home Automation System"
Title: Arduino Home Automation System
Name: Rittika Deb
Label: New project

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Describe the solution you'd like...**

This project deals with Home Automation system using Arduino UNO as the microcontroller. It will control the working of bulbs and fans according to the temperature of the surrounding.

**Approach to be followed:**

I will be us

[2022-03-05 17:51] Khushi25pandey commented on #64
I would like to work on the issue. Please assign it to me @prathimacode-hub

[2022-03-06 05:43] prathimacode-hub commented on #96
Issue assigned to @rittikadeb

[2022-03-06 05:44] prathimacode-hub commented on #95
Issue assigned to @SachinMittal1766

[2022-03-06 05:45] prathimacode-hub commented on #91
Issue assigned to @nitishkumar07. Go ahead.

[2022-03-06 05:46] prathimacode-hub commented on #86
Sure, Its no late. You can now also edit up this issue with relevant one and get it assigned. This repo encourages beginners to start their journey. So don't hesitate to start yours. No apologies needed. This is how you learn. @itsAftabAlam

[2022-03-06 05:49] prathimacode-hub commented on #64
This issue is created by other contributor. Can you create a new issue from your behalf using the issue template provided along with mentioned details to get it assigned. @Khushi25pandey

[2022-03-06 06:01] #31 closed

[2022-03-06 06:07] #22 closed

[2022-03-06 06:27] shreya024 commented on #19
@prathimacode-hub I would like to work on this issue, I am a contributor of GSSOC'22.
Tool/application= tinkercad
language= embedded C
Approach= I will use a piezo buzzer as a microphone and using its value to activate the LED using Arduino.

[2022-03-06 06:42] prathimacode-hub commented on #19
Issue assigned to @shreya024

[2022-03-06 07:53] vaishnavighiradkar commented on #17
I am willing to work on this issue. I will be using Proteus software for circuit development , arduino IDE  to write code and C++ as programming language.  Please assign this issue to me. @prathimacode-hub

[2022-03-06 13:04] Khushi25pandey commented on #64
Ya sure! I would try definitely @prathimacode-hub

[2022-03-06 16:47] #29 closed

[2022-03-06 16:48] #15 closed

[2022-03-06 18:57] rk18venom commented on #17
---
Title: Current Sensing using Arduino #17
About: Sensing the current using Arduino.
Name: Rahul Kashyap
Label: New Project
Assignee: rk18venom

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to be followed (optional):

[2022-03-07 08:33] prathimacode-hub commented on #17
Issue assigned to @vaishnavighiradkar on FCFS basis.

[2022-03-07 08:33] prathimacode-hub commented on #17
@rk18venom, we have many more issues coming up.

[2022-03-07 08:35] prathimacode-hub commented on #17
Issue template is needed only when its issues are created on own. @rk18venom

[2022-03-07 08:35] prathimacode-hub commented on #17
You can come up with new choice for me to get it assigned. @rk18venom

[2022-03-07 08:57] Sreemoyee26 opened #102 "Update Lets Connect button"
---
Title: Update Lets Connect Button
About: Lets Connect button font color is mixed with the background
Name: Sreemoyee Sadhukhan
Label: Feature Request
---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Lets Connect Button font is mixed with its bg color is not visible properly

**Describe the solution you'd like...**

[2022-03-07 09:10] rk18venom commented on #17
ok mam.

[2022-03-07 09:56] rk18venom opened #103 "Safe Locker Circuit Simulation on Tinkercad"
---
Title: Safe Locker Circuit Simulation on Tinkercad #103
About: This is a safe locker circuit in which a person has to set the password using a potentiometer and password set button and after that, a person can recheck the password changing potentiometer value if the password matches then the green light will glow and the servo motor will rotate such that safe lock is open and if it is wrong bu

[2022-03-07 15:42] prathimacode-hub commented on #103
Issue assigned to @rk18venom

[2022-03-07 15:43] prathimacode-hub commented on #102
You can make it more valid by adding something more to this issue. This seems less as we have only 3 levels. @Sreemoyee26

[2022-03-07 22:12] XZANATOL opened #105 "Arduino Analog Input"
## Idea

Arduino script that takes Analog input from a potentionmeter and use its value as a delay for blinking intervals of a LED Lamp.

## Benefits

The script will demonstrate who one can make use of an Analog input into Arduino.

Issue made under GSSoC'22 contributions

[2022-03-07 22:21] XZANATOL opened #106 "Arduino Light Sensor"
## Idea

Add a Light Detector Arduino design that visualize the capabilities of LDR component by changing the light intensity of a LED lamp.

## Benifits

* Show the capabilities of a LDR component
* Explain the usage of `analogWrite()` method

[2022-03-08 07:24] #19 closed

[2022-03-08 07:25] #17 closed

[2022-03-08 07:28] #90 closed

[2022-03-08 07:36] prathimacode-hub commented on #53
Update please? @Jyo561

[2022-03-08 07:36] prathimacode-hub commented on #53
Update please? @Jyo561

[2022-03-08 07:36] prathimacode-hub commented on #34
Update please? @GnanambhalSvRam

[2022-03-08 07:36] prathimacode-hub commented on #34
Update please? @GnanambhalSvRam

[2022-03-08 07:36] prathimacode-hub commented on #69
Update please? @vedsom

[2022-03-08 07:36] prathimacode-hub commented on #69
Update please? @vedsom

[2022-03-08 07:37] prathimacode-hub commented on #59
Update please? @ShambhaviDixit09

[2022-03-08 07:37] prathimacode-hub commented on #59
Update please? @ShambhaviDixit09

[2022-03-08 07:37] #55 closed

[2022-03-08 07:38] prathimacode-hub commented on #88
Update please? @ruhanirawal

[2022-03-08 07:38] prathimacode-hub commented on #88
Update please? @ruhanirawal

[2022-03-08 07:38] prathimacode-hub commented on #95
Update please? @SachinMittal1766

[2022-03-08 07:38] prathimacode-hub commented on #95
Update please? @SachinMittal1766

[2022-03-08 07:39] prathimacode-hub commented on #96
Update please? @rittikadeb

[2022-03-08 07:39] prathimacode-hub commented on #96
Update please? @rittikadeb

[2022-03-08 07:40] prathimacode-hub commented on #105
I think this is already done. @XZANATOL

[2022-03-08 07:40] prathimacode-hub commented on #105
I think this is already done. @XZANATOL

[2022-03-08 07:40] prathimacode-hub commented on #106
I think this is done too. @XZANATOL

[2022-03-08 07:40] prathimacode-hub commented on #106
I think this is done too. @XZANATOL

[2022-03-08 08:05] SiddhantPawar03 opened #110 "Fire Alarm System using Arduino"
---
Title: Fire Alarm System using Arduino
About: I would use Gas Sensor take analog values for same, put some conditions for gas sensor and would produce alert for same
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, the problem is very much necessary in d

[2022-03-08 08:09] Jyo561 commented on #53
Mam Sorry but i am unable to complete it as my laptop has malfunctioned and had to send it to a repair show currently commenting from my mobile phone via Github app . SO if you can extend it till 10th then it would be great or let me close this request  so that i will renew my issue anagain or assign me an issue for which i can work for.

[2022-03-08 08:37] #86 closed

[2022-03-08 08:40] prathimacode-hub commented on #110
Instead use flame sensor since this is about fire alarm systems. Issue assigned to @SiddhantPawar03

[2022-03-08 08:51] debrittika commented on #96
Coding is left. I have designed the circuit on Tinkercad

[2022-03-08 08:55] rittikadeb commented on #96
Coding is left. I have designed the circuit.

[2022-03-08 08:58] vaishnavighiradkar opened #111 "Electronic Voting Machine Using Arduino"
---
Title: Electronic Voting Machine Using Arduino (EVM)
About: I'll be using push buttons for voting and LCD screen for displaying result.
Name: Vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Describe the solution you'd like...**
I'll be using 5 push buttons for voting and result. and LCD screen for displaying result.

**Appr

[2022-03-08 09:22] prathimacode-hub commented on #111
Issue assigned to @vaishnavighiradkar

[2022-03-08 09:24] #18 closed

[2022-03-09 03:34] SachinMittal1766 commented on #95
I have made Webpage & working on responsiveness. Will make PR by EOD.

[2022-03-09 09:07] vaishnavighiradkar commented on #53
@prathimacode-hub If this is still open, can you assign this issue to me? I'll be using tinkercad for circuit building and simulation. I'll consider a fixed area and measure force by force sensor. By doing this i can calculate Pressure(Force/Area). And It will be printed on LCD screen or serial monitor.

[2022-03-09 16:22] #95 closed

[2022-03-09 19:47] Ashish4321-hub opened #117 "Add Favicon"
I am gssoc2022 contributor and i want to  work on it.

[2022-03-10 06:46] prathimacode-hub commented on #117
Use issue template and kindly elaborate the issue. @Ashish4321-hub

[2022-03-10 07:08] ruhanirawal commented on #88
Almost done@prathimacode-hub

[2022-03-10 11:14] #111 closed

[2022-03-10 12:30] #106 closed

[2022-03-10 12:30] #105 closed

[2022-03-11 12:09] prathimacode-hub commented on #53
Ok @Jyo561 no worries you can choose an issue whenever you could contribute. For now, i will assign it to next person on queue.

Ample number of issues coming, so stay tuned.

Sure, @vaishnavighiradkar, issue is assigned to you.

[2022-03-11 14:47] nitishkumar07 opened #118 "Simple Claculator using 8051"
Title: Simple Claculator using 8051
About: calculator using 8051 , lcd and keypad
Name: Nitishkumar J G
Label:
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
   yes . it helps in calculating simple calculation.

**Describe the solution you'd like...**
this project helps in learning to display using lcd.

[2022-03-11 15:00] prathimacode-hub commented on #118
Issue assigned to @nitishkumar07

[2022-03-11 15:50] SarthakSKumar commented on #16
By recording data, is it graphically plotting the data?

[2022-03-12 00:25] shreya024 opened #121 "Portable Weight Limit Checker using Arduino"
Title: Portable Weight Limit Checker using Arduino
About: I'll be using force sensor for detecting weight and a buzzer to indicate when it exceeds threshold.
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

 Define You:

 * [x]  GSSOC Participant
 * []  Contributor

 **Describe the solution you'd like...** I'll be using force sensor for detecting weight and a buzzer to indicate when it exce

[2022-03-12 05:50] shreya024 commented on #121
@prathimacode-hub Kindly assign this issue to me.

[2022-03-12 06:19] prathimacode-hub commented on #121
Issue assigned @shreya024

[2022-03-12 06:38] YalfamIamShaon opened #122 "Improvement of Buttons working"
Hello, @prathimacode-hub, I have been going through this website and noticed one thing. which is whenever I click on the "Projects" button, it takes me to the "Let's Connect" section. Other buttons are working fine. But the project button is not. So, as a GSSOC22 contributor, I want you to give me this opportunity to work on this issue.
as you can see here
![Capture](https://user-images.githubuser

[2022-03-12 07:37] #53 closed

[2022-03-12 07:41] #96 closed

[2022-03-12 07:49] #24 closed

[2022-03-12 11:19] #110 closed

[2022-03-12 11:45] TG922 opened #123 "Feature : Adding Dynamic counter"
**Project title**
Adding Dynamic Counter

**Project Description**
This feature will help increase UI of the website.

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

![Image3](https://user-images.githubusercontent.com/70098839/158016639-15533266-d101-442c-a19e-5ed6771bdb96.PNG)

[2022-03-13 04:30] Areebah03 opened #125 "Hover effect in favicon of footer."
I want to add hover effect in favicon of footer. Please assign it to me @prathimacode-hub ☺

[2022-03-13 05:12] Areebah03 opened #126 "Improve Lets Connect button"
I want to improve the design of lets connect button. Please assign it to me😃

[2022-03-13 05:15] Areebah03 opened #127 "Fix project link in navbar"
In navbar, when we click project link, it is taking us to lets connect section. I want to fix it. Please assign it to me.☺

[2022-03-13 05:18] Areebah03 opened #128 "Improve working of button in home page."
About and contact button in home page is not working properly. It only woks when we click the text in these button. I want to fix it so please assign it to me.😐

[2022-03-13 07:06] prathimacode-hub commented on #122
Sure, can you create a layout and add the links of the projects? @YalfamIamShaon

[2022-03-13 07:07] prathimacode-hub commented on #123
Is dynamic counter needed for this website? @TG922

[2022-03-13 07:09] YalfamIamShaon commented on #122
Sure @prathimacode-hub , I can do that.

[2022-03-13 07:22] TG922 commented on #123
No @prathimacode-hub , it is not compulsory. It is looking fine, but adding animation to them adds additional effect to it.
This feature will help increase User Interface(UI) of your website.

[2022-03-13 07:50] #103 closed

[2022-03-13 07:53] #91 closed

[2022-03-13 08:13] vaishnavighiradkar opened #129 "IoT-Spot : Visitor counter using Arduino"
---
Title: Visitor counter using Arduino
About: Suggest an idea for this project
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

We often need a visitor counter at places like mall or even at home for security purpose. This project will help count number of

[2022-03-13 09:22] rk18venom commented on #16
@prathimacode-hub mam, Please assigned me this issue, I will use wire communication, c++ language. Arduino Uno R3 for getting the data from the gyroscope. After getting the g-value in three directions x,y,z. I will also calculate the net g-force and print it on the screen.

[2022-03-13 11:40] #118 closed

[2022-03-13 12:29] SarthakSKumar commented on #20
I would like to work on this issue, ma'am. I will be using the DHT11 Sensor to get temperature and humidity readings, log them into an sd card using Arduino Uno board. I will be using Proteus for simulation. I have worked on a similar project before and could use the source of the same in this project.

[2022-03-13 12:29] SarthakSKumar commented on #20
@prathimacode-hub

[2022-03-15 09:06] prathimacode-hub commented on #20
Issue assigned @SarthakSKumar

[2022-03-15 09:15] prathimacode-hub commented on #123
Ok go ahead. @TG922

[2022-03-15 09:15] prathimacode-hub commented on #123
Ok go ahead. @TG922

[2022-03-15 09:16] prathimacode-hub commented on #123
Are you GSSOC contributor? Kindly add the template provided to know you're if so. @TG922

[2022-03-15 09:16] prathimacode-hub commented on #123
Are you GSSOC contributor? Kindly add the template provided to know you're if so. @TG922

[2022-03-15 09:17] prathimacode-hub commented on #122
Ok, proceed. Issue assigned @YalfamIamShaon

[2022-03-15 09:17] prathimacode-hub commented on #122
Ok, proceed. Issue assigned @YalfamIamShaon

[2022-03-15 09:18] prathimacode-hub commented on #122
Kindly add the issue template to recognize you as GSSoC contributor along with mentioned details. @YalfamIamShaon

[2022-03-15 09:18] prathimacode-hub commented on #122
Kindly add the issue template to recognize you as GSSoC contributor along with mentioned details. @YalfamIamShaon

[2022-03-15 09:19] prathimacode-hub commented on #83
Update please? @rv602

[2022-03-15 09:19] prathimacode-hub commented on #83
Update please? @rv602

[2022-03-15 09:20] prathimacode-hub commented on #16
Issue assigned. @rk18venom

[2022-03-15 09:20] prathimacode-hub commented on #16
Issue assigned. @rk18venom

[2022-03-15 10:39] rv602 commented on #83
sorry for the delay @prathimacode-hub. I was shifting my house hence got occupied in the shifting process. I'll complete it within 2-3 days.
Sorry for the delay.

[2022-03-15 15:15] TG922 commented on #123
Title: Adding Dynamic Counter
About:  I'll be using HTML,CSS,JS for making dynamic counter
Name: Tarun Gaur
Label: Feature Request

## Define You:

[x]   GSSOC '22 Participant
[x]  Contributor

**Describe the solution you'd like...** I'll be using HTML,CSS,JS for making dynamic counter effect on page scroll down. This feature will help increase UI of the website.

file location: ./assets/css, ./as

[2022-03-16 06:32] SiddhantPawar03 commented on #34
Hey, is anyone working on same issue?

[2022-03-16 11:49] #121 closed

[2022-03-16 15:30] prathimacode-hub commented on #34
But there is no response from earlier contributor. You can go ahead with issue. @SiddhantPawar03

[2022-03-17 05:24] #78 closed

[2022-03-17 05:27] prathimacode-hub commented on #129
Issue assigned to @vaishnavighiradkar

[2022-03-17 13:16] nitishkumar07 opened #134 "Stepper motor interfacing using 8051"
---
Title: Stepper motor interfacing
About: making stepper motor move clockwise and anti-clockwise
Name: Nitishkumar J G
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
no
stepper motor interfacing

**Describe the solution you'd like...**
Making stepper motor move clockwise and anti

[2022-03-18 07:52] prathimacode-hub commented on #134
Issue assigned to @nitishkumar07

[2022-03-19 07:21] #134 closed

[2022-03-19 07:26] #20 closed

[2022-03-19 07:30] leesha19 opened #137 "improving lets connect form"
heyi would like to improve the section "lets connect" using html and css . please assign me the task

[2022-03-19 07:33] leesha19 opened #138 "improving nav- bar"
---
Title: improving nav bar
About: as we can see that there is a hover effect on lets connect i want to improve the styling
Name: leesha19
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
its just a styling issue in css

there is hover effect on lets connect in navigation bar i thin

[2022-03-19 07:44] #137 closed

[2022-03-19 10:44] prathimacode-hub commented on #137
Can you use the template given and fill the details so that I could assign it to you @leesha19

[2022-03-20 06:13] leesha19 commented on #137
Can you please check issue #138 and assign it to me so that I can start working

[2022-03-20 06:18] prathimacode-hub commented on #137
Why did you close the issue? @leesha19

[2022-03-20 06:20] leesha19 commented on #137
I want to work on #138 coz I found that the nav bar of website has some issue like there always a hover on let's connect I want to improve the styling ....I have closed this issue so kindly check #138

[2022-03-20 06:22] prathimacode-hub commented on #137
Issues or PR's shouldn't be closed from contributors end. I'm just letting you know because things get tracked. @leesha19

[2022-03-20 06:22] prathimacode-hub commented on #138
Include the issue template and add the details accordingly to assign the issue. @leesha19

[2022-03-20 06:23] leesha19 commented on #137
Yah I only opened this issue so thought of working on this later

[2022-03-20 06:27] leesha19 commented on #138
where's the themplate

[2022-03-20 06:48] leesha19 commented on #138
done please check it

[2022-03-20 06:55] prathimacode-hub commented on #138
Issue assigned to @leesha19

[2022-03-20 16:41] footcricket05 commented on #128
can this issue be assigned to me ?
i am a contributor

[2022-03-21 05:42] Kumar-laxmi opened #141 "Hover and Tilt effect to Images"
---
Title: IoT-Spot
About: Hover and Tilt effect to Images
Name: Kumar Laxmikant
Label: Enahancement Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

Yes, I have discussed with Project Admin
**Is your feature request related to a problem? Please describe.**
No, but this request is just an enhancement

**Describe the solution you'd like...**
To enhance the look of

[2022-03-21 09:05] leesha19 opened #142 "scroll bar"
---
Title: scroll bar
About: scroll bar of website is dark
Name: leesha19
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
its just a styling issue in css

the scroll bar of the website is dark in color
**Describe the solution you'd like...**
i would be changing the scroll bar  so th

[2022-03-21 09:50] rk18venom opened #143 "Obstacle Avoidance Bot Circuit Simulation on TinkerCad"
---
Title: Obstacle Avoidance Bot Circuit Simulation on TinkerCad #143
About: Making the obstacle avoidance bot using ultrasonic sensor.
Name: Rahul Kashyap
Label: New Project
Assignee: rk18venom

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've co

[2022-03-21 10:27] #34 closed

[2022-03-21 10:27] prathimacode-hub commented on #143
Issue assigned to @rk18venom

[2022-03-21 10:28] prathimacode-hub commented on #142
Issue assigned to @leesha19

[2022-03-21 10:28] prathimacode-hub commented on #141
Can you elaborate and also use issue template given? @Kumar-laxmi

[2022-03-21 10:29] #138 closed

[2022-03-21 10:30] prathimacode-hub commented on #128
@Areebah03, can you add details along with issue template to get it assigned.

Its on FCFS, you can come up with your own issue if you would like to. @footcricket05

[2022-03-21 10:30] Kumar-laxmi commented on #141
I would like you to look into this link :
https://micku7zu.github.io/vanilla-tilt.js/

[2022-03-21 10:30] Kumar-laxmi commented on #141
In this there are various cool tilt effects

[2022-03-21 10:30] prathimacode-hub commented on #125
Include issue template along with details to get it assigned.  @Areebah03

[2022-03-21 10:33] #25 closed

[2022-03-21 10:33] prathimacode-hub commented on #16
Is this issue done? @rk18venom

[2022-03-21 10:35] prathimacode-hub commented on #141
Say it textually using issue template provided along with details of issue to get it assigned. @Kumar-laxmi

[2022-03-21 10:43] Kumar-laxmi commented on #141
So basically the image would tilt slowly as mouse hovers over it.
By doing this the image would have dynamic look rather that static look.

![image](https://user-images.githubusercontent.com/76027425/159245597-fd0bd25f-ae6b-45d9-aa7b-3dbc7cf334e5.png)

Here I have placed my mouse over it and you can see that image tilted accordingly.

[2022-03-21 10:43] Kumar-laxmi commented on #141
The tilt axis wouldn't be too much as the one in the image but would be very less.

[2022-03-21 11:03] Areebah03 commented on #125
Title : Hover Effect
About : Favicon in footer has no hover effect.
Name : Areebah03
Label: Feature Request

## Define You:

- [x] GSSOC Participant
- [x] Contributor

## Is your feature request related to a problem? Please describe.
It is just a styling issue in css.

## Describe the solution you'd like.
I would add hover effect in css of favicons.

## Describe alternatives you've considered?

##

[2022-03-21 11:04] Areebah03 commented on #125
@prathimacode-hub I have added issue template along with details.

[2022-03-21 11:08] Areebah03 commented on #128
Title : Fixing working of buttons.
About : About and contact button in home page is not working properly. It only woks when we click the text in these button.
Name : Areebah03
Label : Feature Request

## Define You:

- [x] GSSOC Participant
- [x] Contributor

## Is your feature request related to a problem? Please describe.
It is related to adjusting link in html.

## Describe the solution you'd l

[2022-03-21 11:08] Areebah03 commented on #128
@prathimacode-hub I have added issue template along with details.

[2022-03-21 17:57] rk18venom commented on #16
No mam, because right now I am in my college NIT Durgapur and the internet connection of hostel is very bad so it is very difficult for me to download proteus for circuit simulation at this present situation so I am waiting for the opening of the library as the library get opened I will do the pr for it.

[2022-03-22 04:27] SiddhantPawar03 opened #144 "Emergency-Ventilator"
---
Title: Emergency Ventilator
About: Creating a ventilator which could be made at home.
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, the problem arise due to ongoing pandemic of covid-19 as people were not able to cure themselves due to lack of ventila

[2022-03-22 06:22] prathimacode-hub commented on #144
Issue assigned to @SiddhantPawar03

[2022-03-22 06:54] prathimacode-hub commented on #16
Ok, let me know when things are fine and you started working. @rk18venom

[2022-03-22 07:16] rk18venom commented on #16
Mam, I think till tomorrow I will be able to create the pr for this issue.

[2022-03-22 11:09] nitishkumar07 opened #145 "Smart street light using Arduino"
---
Title: Smart street light
About: creating smart street light using Arduino, ldr and ir sensor
Name: Nitishkumar J G
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
yes
feature deals with the wastage of electricity by the street lights

**Describe the solution you'd like...**
use

[2022-03-22 11:55] prathimacode-hub commented on #145
Issue assigned to @nitishkumar07

[2022-03-23 04:45] vaishnavighiradkar commented on #122
@prathimacode-hub  I am a GSSoC'22 contributor. It's been 8 days since this issue was created and assigned. I solved my previous issue and it's PR is under review. I would like to work on this issue. I will add the issue template once it is assigned. Can you assign this issue to me?

[2022-03-23 10:22] dvlsatya commented on #142
can you assign this to me

[2022-03-24 11:14] Riddhi9570 opened #149 "Add footer in blog page"
---
About: Add footer in blog page
Name: Riddhi Bhagat
Label: Feature Request

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

No footer is there in blog page.

**Describe the solution you'd like...**

- I will add the footer.
- I will add a smooth transition effect on hovering over the cards in blog page.

[2022-03-24 11:18] prathimacode-hub commented on #149
Issue assigned to @Riddhi9570

[2022-03-24 11:37] shreya024 opened #150 "GPS Locater using Arduino"
Title: GPS Locater using Arduino
About: I'll be implementing a GPS Locater using Arduino.
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

 Define You:

 * [x]  GSSOC Participant
 * []  Contributor

 **Describe the solution you'd like...** I'll be using two Arduino UNOs,Neopixel,and LED display to implement a GPS Locater.

file location: Minor scripts/Arduino

[2022-03-24 11:38] shreya024 commented on #150
@prathimacode-hub Kindly assign

[2022-03-26 08:39] Nitya-S27 opened #152 "Improvement in UI of specific sections"
- Adding glass morphism and background will make the cards more interactive.
- The social icons are shown twice both in let's connect form and in the footer. A footer that contains the social information as well as the let's connect form will enhance the UI.
- The website has a scrollbar at the bottom which is adding extra width of the website and is of no use.

The image below shows the issue of

[2022-03-26 23:45] TG922 commented on #123
I've almost worked on it will send PR Today

[2022-03-27 11:59] prathimacode-hub commented on #122
@vaishnavighiradkar, do you want to take this up?

[2022-03-27 12:00] prathimacode-hub commented on #150
Issue assigned to @shreya024

[2022-03-27 12:01] prathimacode-hub commented on #152
Are you a GSSOC contributor? Kindly use a issue template provide so that i could assign it. @Nitya-S27

[2022-03-27 12:06] #145 closed

[2022-03-27 12:10] #123 closed

[2022-03-27 13:21] Nitya-S27 commented on #152
Yes I'm a GSSOC'22 contributor.

[2022-03-28 05:20] vaishnavighiradkar commented on #122
Sorry ma'am, I won't be able to solve this issue. I will create another issue. @prathimacode-hub .

[2022-03-28 10:28] Kumar-laxmi commented on #141
@prathimacode-hub is the idea ok

[2022-03-28 19:18] #143 closed

[2022-03-28 19:19] #129 closed

[2022-03-28 19:20] prathimacode-hub commented on #152
Yes, you can edit it up directly here, replace it with the template and include the details you had provided. @Nitya-S27

[2022-03-28 19:21] prathimacode-hub commented on #128
Issue assigned to @Areebah03

[2022-03-28 19:22] prathimacode-hub commented on #141
Ok got you. But could you use the template given to include these details so that i can assign it to you? @Kumar-laxmi

[2022-03-28 19:23] prathimacode-hub commented on #125
Issue assigned to @Areebah03

[2022-03-28 20:50] Nitya-S27 commented on #152
About: Improvement in UI of specific sections
Name: Nitya Singh
Label: Feature Request and Bug Report

# **Define You:**

- [x] GSSOC Participant
- [x] Contributor

# **Is your feature request related to a problem? Please describe.**

- [x] New Feature
- [x] Bug Fixes

### Fixes Issue  #152

# **Describe the solution you'd like...**

- Adding glass morphism and background will make the cards more

[2022-03-28 20:51] Nitya-S27 commented on #152
@prathimacode-hub Done

[2022-03-28 20:59] rk18venom opened #155 "Automatic Room Temperature Controller"
---
Title: Automatic Room Temperature Controller #155
About: Making the Automatic Room Temperature Controller.
Name: Rahul Kashyap
Label: New Project
Assignee: rk18venom

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like...**

**Describe alternatives you've considered?**

**Approach to

[2022-03-29 00:57] Kumar-laxmi commented on #141
@prathimacode-hub I didn't get what what you mean

[2022-03-29 00:58] Kumar-laxmi commented on #141
Bro the only thing is it won't effect your template, it is just a minor enhancement

[2022-03-29 05:10] #144 closed

[2022-03-29 05:11] prathimacode-hub commented on #152
Issue assigned to @Nitya-S27

[2022-03-29 05:13] prathimacode-hub commented on #155
Issue assigned to @rk18venom

[2022-03-29 05:17] prathimacode-hub commented on #141
First of all I am not bro, template is included to add the details regarding the issue and let us know that you are a GSSOC contributor. It has nothing in relevant to changes you make. This is only done to assign you the issue. For reference, here is the template : https://github.com/prathimacode-hub/IoT-Spot/blob/main/.github/issue_template/feature_request.md. You can replace with the details and

[2022-03-29 05:19] Kumar-laxmi commented on #141
Actually I am totally new to Open-Source, that is why I didn't get you what you said earlier

[2022-03-29 05:23] prathimacode-hub commented on #141
No worries, it happens. That's how we learn right. Don't worry. I understood. So I indeed shared up the link with you. @Kumar-laxmi

[2022-03-29 05:27] Kumar-laxmi commented on #141
@prathimacode-hub please have a look I have updated the first comment

[2022-03-29 05:28] prathimacode-hub commented on #141
Issue assigned to @Kumar-laxmi

[2022-03-29 07:14] Areebah03 opened #158 "Cursor pointer in Lets connect button"
I want to add cursor pointer in Lets Connect button. Please assign it to me @prathimacode-hub 😊

## Screenshot
![Screenshot 2022-03-29 124212](https://user-images.githubusercontent.com/85051124/160554616-1a28a5a6-0659-4c49-a9a3-0362f2e54f0c.png)

[2022-03-29 08:50] #125 closed

[2022-03-29 08:51] #128 closed

[2022-03-29 10:22] vaishnavighiradkar opened #160 "Controlling LED Using IR Remote"
---
Title: Controlling LED using IR Remote
About: How to use IR Sensor and IR remote
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''
Location: Minor scripts/Arduino/Controlling LED Using IR Remote
---

Define You:

- [X] GSSOC Participant
- [X] Contributor

After this, we'll get to know how an IR sensor and IR remote is used and manipulated

We'll be controlling an LED light using an

[2022-03-29 12:35] prathimacode-hub commented on #160
Issue assigned to @vaishnavighiradkar

[2022-03-30 01:53] Kumar-laxmi opened #164 "Create a Blog Page"
---
Title: IoT-Spot
About: Create a new themed blog page
Name: Kumar Laxmikant
Label: Feature Request
Assignee: ''"

---

Define You:

- [X] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Yes since this page might be an important part of the website

**Describe the solution you'd like...**
I will use HTML, CSS (bootstrap) and JS (Possibly No

[2022-03-31 12:31] Sulagna-Dutta-Roy opened #166 "Add toggle button"
About: Add toggle button in home page
Name: Sulagna Dutta Roy
Label: Feature Request

Define You:

- [x] GSSOC Participant
- [x] Contributor

Is your feature request related to a problem? Please describe.

No toggle button in the pages.

Describe the solution you'd like...

I will add the toggle button.
It will help the day to dark and dark to day mode in the pages that users will easily read the

[2022-04-01 07:00] SarthakSKumar opened #167 "Ping Pong Game using LCD and Arduino"
---
Title: Ping Pong Game using LCD and Arduino
About: Using LCD, Simulating a Ping Pong Game, which is played using push buttons, with Arduino
Name: Sarthak S Kumar
Label: Feature Request
Assignee:

---

Define You:

- [x] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Not related to a problem. It's a new project I wanted to add under the r

[2022-04-01 07:44] prathimacode-hub commented on #167
Issue assigned to @SarthakSKumar

[2022-04-01 07:46] #150 closed

[2022-04-01 14:23] CS50X-RGB opened #169 "Display Time on LCD using Raspberry PI"
About:
Name: Rohan Chatterjee
Label: Feature Request
Assignee:'<a href = "https://github.com/CS50X-RGB">Rohan Chatterjee</a>

---

- [X] GSSOC Participant
- [X] Contributor

---
**Approach to be followed:**
--<b>Would  import time library present python and then display it on LCD</b>

[2022-04-01 14:37] Kumar-laxmi commented on #164
@prathimacode-hub Please look into this issue

[2022-04-01 16:39] prathimacode-hub commented on #169
Issue assigned to @CS50X-RGB

[2022-04-02 09:55] Areebah03 opened #170 "Logo in website"
I want to add image logo in website to enhance its UI. Please assign it to me @prathimacode-hub

[2022-04-02 09:56] Areebah03 opened #171 "Hover effect of links in navbar"
I want to improve the hover effect of links in navbar. Please assign it to me @prathimacode-hub

[2022-04-02 11:40] #166 closed

[2022-04-03 05:37] SiddhantPawar03 commented on #76
Hey, is anyone working on same issue?

[2022-04-03 05:49] prathimacode-hub commented on #76
Nope @SiddhantPawar03. If you would like to work on this issue. You can create a new issue with this title.

[2022-04-03 06:38] SiddhantPawar03 opened #172 "Smart Parking System using Arduino"
---
Title: Smart Parking System using Arduino
About: Project would guide the vehicles during parking as well as will update the parking count at same time.
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, the problem is one of the major faced issue as there

[2022-04-03 08:21] prathimacode-hub commented on #172
Issue assigned to @SiddhantPawar03

[2022-04-03 09:27] Nitya-S27 commented on #152
@prathimacode-hub  can you please add GSSOC label to the issue along with the level 0, 1, 2 or 3 label.

[2022-04-03 12:16] Nitya-S27 commented on #152
@prathimacode-hub Check out the enhanced UI of the footer that includes the forms as well as the social icons.
Suggest changes if any.

![Screenshot (417)](https://user-images.githubusercontent.com/81871441/161427601-e61e3873-fb2b-4a98-b7de-88391e51bc0a.png)

[2022-04-04 07:22] shreya024 opened #174 "Mood Ring Light using Arduino"
Title: Mood Ring Light using Arduino
About: I'll be implementing a Mood Ring Light/Lamp using Arduino.
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

* [x]  GSSOC Participant
 * []  Contributor

Describe the solution you'd like... I'll be using Arduino UNO,3 Neopixels to implement a Mood Ring Lamp.

file location: Minor scripts/Arduino

[2022-04-04 07:23] shreya024 commented on #174
@prathimacode-hub Kindly assign

[2022-04-04 10:25] prathimacode-hub commented on #174
Issue assigned to @shreya024

[2022-04-04 13:29] nitishkumar07 opened #175 "Door lock system using 8051 microcontroller About: key"
---
Title:door lock system using 8051 microcontroller
About: using lcd,motor driver ICL283D,dc motor,keypad,in Proteus
Name: Nitishkumar J G
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
yes

**Describe the solution you'd like...**
by using lcd,motor driver ICL283D,dc motor,keypad

[2022-04-04 14:50] prathimacode-hub commented on #175
Issue assigned to @nitishkumar07

[2022-04-04 16:26] aaryahjolia opened #176 "Adding a Favicon in website"
It will be great if we add a Favicon to the website.
We can discuss more about which type of favicon do you need or I can make on my own.

I'm a GSSoC contributor.

[2022-04-04 16:28] aaryahjolia opened #177 "Improving Go to top button"
The go to top button currently is aligned upwards, but it will look more cool if it got placed in center so I want to add these changes.

Current button :

![GSSoC](https://user-images.githubusercontent.com/82600388/161589389-77fb8176-59c1-48c1-834f-8167550072a3.png)

[2022-04-05 10:31] Rishita489 commented on #142
Hey @prathimacode-hub , I am a GSSOC'22 Contributor . Can you please assign this issue to me . I have send the PR solving the above issue  . You can review and merge it .

[2022-04-06 00:46] tasneemahmed123 commented on #149
my name is tasneem ahmed
about this issue i will add afooter in blog page  it will add copy right of this website and some transation effects if allow

[2022-04-06 11:00] shreya024 opened #181 "Robotic Fingers Using Arduino"
Title: Robotic Fingers using Arduino
About: I'll be implementing Robotic Fingers using Arduino.
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

* [x]  GSSOC Participant
 * []  Contributor

Describe the solution you'd like... I'll be using Arduino UNO,5 Flex sensors and 5 servo motors to implement Robotic Fingers.

file location: Minor scripts/Arduino

[2022-04-06 12:14] #155 closed

[2022-04-06 12:15] #167 closed

[2022-04-06 12:17] #160 closed

[2022-04-06 12:18] #142 closed

[2022-04-07 04:49] SiddhantPawar03 commented on #88
Hey, is anyone still working on same issue?

[2022-04-07 05:27] prathimacode-hub commented on #181
Issue assigned to @shreya024

[2022-04-07 05:46] #174 closed

[2022-04-07 05:48] prathimacode-hub commented on #88
No one, You can go ahead by creating a new issue with this title. @SiddhantPawar03

[2022-04-07 05:54] #172 closed

[2022-04-07 07:17] SiddhantPawar03 opened #183 "Introduction to 8051 MicroController"
---
Title: Introduction to 8051 MicroController
About: Creating informational document
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, the related information regarding the 8051 Microcontroller in necessary it's description, pin diagram, working, etc. will

[2022-04-07 07:24] vaishnavighiradkar opened #184 "Keypad Calculator Using Arduino"
---
Title: Calculator Using Arduino
About: Making a calculator using arduino board and other components
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

From this feature , we will get to know how to use keypad and build a calculator from it.

**Approach to

[2022-04-07 07:59] Geetanjaligupta123 opened #185 "Add Titles and Content in Blog Section"
Hi,
In Blog Section ,I want to add titles and content of titles. Here's the screenshot of the problem
![Screenshot (13)](https://user-images.githubusercontent.com/100347557/162149503-01b1e386-4711-4b14-94d9-12c807ee8f35.png)

[2022-04-07 11:49] prathimacode-hub commented on #184
Issue assigned to @vaishnavighiradkar

[2022-04-07 15:28] SarthakSKumar opened #188 "Combination Lock using Arduino"
---
Title: Combination Lock using Arduino
About: Using push buttons and LED's, with Arduino
Name: Sarthak S Kumar
Label: Feature Request
Assignee:

---

Define You:

- [x] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Not related to a problem. It's a new project I wanted to add under the repo.

**Describe the solution you'd like...**
To add

[2022-04-07 15:33] SarthakSKumar commented on #188
Thank you ma'am

[2022-04-09 18:51] prathimacode-hub commented on #185
@geetanjali2001 could you include issue template along with the mentioned details above so that i could assign it to you?

@deekshhaa, you're on queue. Preference is given @geetanjali2001 on first come first serve

[2022-04-10 03:34] Rhydham2809 opened #191 "Adding a Scroll bar"
---
Title: Adding a Scroll bar
About: Adding a scroll bar in the home page
Name: Rhydham Gundigara
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The scroll bar is missing in the home page

**Describe the solution you'd like...**

I will add a scroll bar in the home page.

[2022-04-10 06:36] prathimacode-hub commented on #191
Include an issue template provided and mention the details accordingly to get it assigned. @Rhydham2809

[2022-04-10 06:36] prathimacode-hub commented on #183
Issue assigned to @SiddhantPawar03

[2022-04-10 06:37] prathimacode-hub commented on #177
Add an issue template along with mentioned details to get it assigned. @aaryahjolia

[2022-04-10 06:37] prathimacode-hub commented on #176
Include a issue template and add details mentioned to get it assigned. @aaryahjolia

[2022-04-10 06:38] prathimacode-hub commented on #170
Could you elaborate? @Areebah03

[2022-04-10 06:38] prathimacode-hub commented on #171
Elaboration please? @Areebah03

[2022-04-10 06:40] prathimacode-hub commented on #164
Issue assigned to @Kumar-laxmi

[2022-04-10 06:41] prathimacode-hub commented on #158
Could you elaborate? @Areebah03

[2022-04-10 06:42] prathimacode-hub commented on #152
Looks cool, but i think navigating arrow to should be below the contact form. @Nitya-S27

[2022-04-10 06:50] #188 closed

[2022-04-10 07:07] Areebah03 commented on #158
When we hover on lets connect button it shows arrow pointer. I want to change it to cursor pointer in lets connect like all other links of navbar.

![pic1](https://user-images.githubusercontent.com/85051124/162606578-96dbd4bf-1ac8-40a2-8610-b7a5e9d76cd5.jpg)
## I want to add cursor pointer like that of about us link shown above.
![pic2](https://user-images.githubusercontent.com/85051124/162606584-

[2022-04-10 07:11] Areebah03 commented on #170
I want to add image logo in navbar to enhance its UI

![img](https://user-images.githubusercontent.com/85051124/162606724-92568141-1a85-4d6e-8a95-2eee9475917b.png)

[2022-04-10 07:13] Areebah03 commented on #171
I want to improve hover effect of links in navbar by adding border-radius, changing background color.

![img2](https://user-images.githubusercontent.com/85051124/162606849-80500c0b-27f1-445b-b83d-dc57ac6063b3.png)

[2022-04-10 09:39] Nitya-S27 commented on #152
Okay I will make PR with the changes.

[2022-04-10 10:47] Rhydham2809 commented on #191
I included the issue template, kindly assign the issue. @prathimacode-hub

[2022-04-10 10:54] prathimacode-hub commented on #191
Issue assigned to @Rhydham2809

[2022-04-10 10:56] prathimacode-hub commented on #158
Got you. First add the issue template and then include the details to get it assigned.  @Areebah03

[2022-04-10 11:10] Areebah03 commented on #158
Title : Cursor Pointer
About : I want to add cursor pointer in lets connect button.
Name : Areebah03
Label: Feature Request

## Define You:

- [x] GSSOC Participant
- [x] Contributor

## Is your feature request related to a problem? Please describe.
It is just a styling issue in css.

## Describe the solution you'd like.
I would add cursor pointer in lets connect button.

## Describe alternatives

[2022-04-10 11:10] Areebah03 commented on #158
@prathimacode-hub I have added the issue template and include the details.

[2022-04-10 19:53] #184 closed

[2022-04-10 19:56] #152 closed

[2022-04-11 12:03] Rishita489 commented on #122
Hey @prathimacode-hub , I am a GSSOC'22 Contributor . Can you please assign this issue to me . I have solved the issue and send the PR request .

[2022-04-11 14:56] amitsvg opened #195 "Improve Hamburger Menu List"
The website is a little bit zoomed in when opened in mobile, hamburger menu is not clearly visible. User has to zoom-out to see the hamburger-menu. The animation of hamburger menu-icon is very nice . background of side menu is very dark. Background color and button designs can be improved.

![mvvvv](https://user-images.githubusercontent.com/72488615/162767227-a6298bca-422e-42c1-ab31-834679740218.j

[2022-04-12 04:00] SarthakSKumar opened #196 "Dino Game using Arduino"
---
Title: Dino Game using Arduino
About: Using LCD and Pushbuttons, with Arduino
Name: Sarthak S Kumar
Label: Feature Request
Assignee:

---

Define You:

- [x] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Not related to a problem. It's a new project I wanted to add under the repo.

**Describe the solution you'd like...**
To add a project

[2022-04-12 12:50] prathimacode-hub commented on #196
Issue assigned to @SarthakSKumar

[2022-04-12 12:51] prathimacode-hub commented on #195
Use issue template and include this issue details to get it assigned. @amitsvg

[2022-04-12 12:53] prathimacode-hub commented on #122
This is over @Rishita489

[2022-04-12 12:59] SarthakSKumar commented on #196
Thank you ma'am

[2022-04-12 15:03] shreya024 opened #199 "Obstacle Avoidance Game using Arduino"
Title: Obstacle Avoidance Game using Arduino
About: I'll be implementing the game using LCD and pushbutton
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

* [x]  GSSOC Participant
 * []  Contributor

Describe the solution you'd like... I'll be using LCD as game screen and pushbutton as controller
file location: Minor scripts/Arduino

[2022-04-12 15:04] shreya024 commented on #199
@prathimacode-hub Kindly assign

[2022-04-12 18:47] vaishnavighiradkar opened #200 "Controlling DC Motor Using IR Remote"
---
Title: Controlling DC Motor Using IR Remote
About: Changing direction of DC Motor using IR remote
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

We'll learn how to use IR remote to control and change the direction DC Motor

**Describe the solution you'

[2022-04-14 00:46] Rhydham2809 commented on #191
@prathimacode-hub
Please suggest which color looks better for the app according to that I will make a final change and then make a pull request
![Screenshot (16)](https://user-images.githubusercontent.com/100224159/163292237-30b1891c-6af5-43da-a88b-48fc402c7ab2.png)
![Screenshot (15)](https://user-images.githubusercontent.com/100224159/163292279-b65987b1-de02-4e2c-94f7-1be3880cdab2.png)

[2022-04-14 08:38] vaishnavighiradkar commented on #200
@prathimacode-hub Please assign this issue to me.

[2022-04-15 03:35] prathimacode-hub commented on #200
Issue assigned to @vaishnavighiradkar

[2022-04-15 03:35] prathimacode-hub commented on #199
Issue assigned to @shreya024

[2022-04-15 06:51] Areebah03 opened #203 "Hover effect in favicons"
I want to add hover effects in favicon in footer section. Please assign it to me @prathimacode-hub

![ss1](https://user-images.githubusercontent.com/85051124/163533095-545d29dd-e9e6-4ce4-8f2e-f4de12ffce4b.png)

[2022-04-15 06:55] Areebah03 opened #204 "Improve working of button"
Title : Improve working of buttons and add hover effect in favicon of footer
About : About and contact button in home page is not working properly. It only works when we click the text in these button.
I want to improve it. I also want to add hover effects in favicon of footer
Name : Areebah03
Label : Feature Request

## Define You:

- [x] GSSOC Participant
- [x] Contributor

## Is your feature re

[2022-04-18 04:48] #199 closed

[2022-04-18 04:50] #196 closed

[2022-04-18 06:32] #200 closed

[2022-04-18 09:05] SiddhantPawar03 commented on #21
Hey, is anyone still working on same issue?

[2022-04-18 13:09] SarthakSKumar opened #206 "Pedestrian Traffic Signal System Using Arduino"
---
Title: Traffic Signal System Using Arduino
About: Using LED's and Pushbutton, with Arduino
Name: Sarthak S Kumar
Label: Feature Request
Assignee:

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Not related to a problem. It's a new project I wanted to add under the repo.

**Describe the solution you'd like...**
To

[2022-04-18 14:11] prathimacode-hub commented on #206
Issue assigned to @SarthakSKumar

[2022-04-18 14:16] prathimacode-hub commented on #21
No one @SiddhantPawar03. If you're interested I could assign it to you.

[2022-04-18 15:47] SarthakSKumar commented on #206
Thank you ma'am @prathimacode-hub

[2022-04-19 05:34] #175 closed

[2022-04-19 14:02] #206 closed

[2022-04-20 10:14] SiddhantPawar03 commented on #21
Yes! I would like to work on same issue @prathimacode-hub

[2022-04-20 12:56] #183 closed

[2022-04-20 16:21] prathimacode-hub commented on #21
Ok issue assigned to @SiddhantPawar03

[2022-04-21 18:09] SarthakSKumar opened #209 "Elevator Load Evaluation System using Arduino"
---
Title: Elevator Load Checking System
About: Using Load Cell and Push Buttons, with Arduino
Name: Sarthak S Kumar
Label: Feature Request
Assignee:

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**
Not related to a problem. It's a new project I wanted to add under the repo.

**Describe the solution you'd like...**
To

[2022-04-22 14:53] prathimacode-hub commented on #209
Issue assigned to @SarthakSKumar

[2022-04-23 10:44] prathimacode-hub commented on #191
2nd one is better. @Rhydham2809

[2022-04-24 04:23] BabyElias opened #210 "Let's Connect section not linked"
On clicking on Let's Connect, the website instead of taking to the Let's Connect part at the end of the page directly opens the email app (& also, the projects link is linked to the Let's connect section of the website which in my opinion is inappropriate.)

I would like to take up this issue under GSSoC'22.

[2022-04-25 06:36] #209 closed

[2022-04-25 06:38] prathimacode-hub commented on #210
What's your approach? @BabyElias

[2022-04-25 08:12] BabyElias commented on #210
![nrt](https://user-images.githubusercontent.com/95405559/165047549-9af90492-a318-4fd7-92dc-76876971edb5.JPG)
The Let's connect link should be linked directly to the Let's connect section( and the mail tab in there should open to the mail app, as already available).
There can be a separate Projects section on the same page or maybe a new webpage can be created for Projects tab.

[2022-04-25 19:05] #21 closed

[2022-05-01 05:24] shreya024 opened #214 "Dual Axis Solar Tracker using Arduino"
Title: Dual Axis Solar Tracker using Arduino
About: I'll be implementing the the solar tracker using LDR & Servo Motors
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

[x] GSSOC Participant
[] Contributor
Describe the solution you'd like... I'll be implementing the the solar tracker using LDR & Servo Motors
file location: Minor scripts/Arduino

[2022-05-01 05:25] shreya024 commented on #214
@prathimacode-hub Kindly assign

[2022-05-01 05:31] prathimacode-hub commented on #214
Issue assigned? @shreya024

[2022-05-03 06:03] SiddhantPawar03 opened #216 "Node MCU wireless communication for Traffic Signal Control"
---
Title: Node MCU wireless communication for Traffic Signal Control
About: Would be using Node MCU for wireless communication of traffic signal control
Name: Siddhant Pawar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**
Yes, as demonstration of wireless communication along with p

[2022-05-03 06:22] prathimacode-hub commented on #216
Issue assigned to @SiddhantPawar03

[2022-05-03 06:35] aaryahjolia opened #217 "Improving Go to top button"
---
Title: IoT-Spot Website
About: Improving Go to top button
Name: Aarya Ahjolia
Label: Feature Request'

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

The Go to top button is aligned upwards, but it will look great if we put it in center of the circle.

**Describe the solution you'd like...**

To change the positi

[2022-05-03 06:36] #177 closed

[2022-05-03 06:46] aaryahjolia opened #218 "Adding a Favicon"
---
Title: IoT-Spot Website
About: Adding a Favicon
Name: Aarya Ahjolia
Label: Feature Request'

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

A website must have a favicon. I want to add a Favicon so it will look great to the user.

**Describe the solution you'd like...**

To Add a Favicon logo with 'I' as the text

[2022-05-03 06:46] #176 closed

[2022-05-03 06:59] aaryahjolia opened #219 "Improving mobile view of website"
---
Title: IoT-Spot Website
About: Improving Mobile view with changes
Name: Aarya Ahjolia
Label: Feature Request'

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

There are lots of changes to be done in the mobile view. All the changes list is here and all the screenshots are also provided at end.
1. The hamburger col

[2022-05-03 18:14] VaibhavMogha opened #220 "Generate delay using 8051 timer."
---
Title: Generate delay using 8051 timers
About: I will be writing code to generate delay in C using 8051 timers.
Name: Vaibhav Mogha
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Yes, Timers present in 8051 can help as timers or counters to count events. Using them we can crea

[2022-05-03 18:42] prathimacode-hub commented on #220
Issue assigned @VaibhavMogha

[2022-05-06 10:58] prathimacode-hub commented on #219
Issue assigned to @aaryahjolia

[2022-05-08 10:29] #219 closed

[2022-05-09 16:27] MonalikaPatnaik opened #222 "Feature: Add CSS card hover effects in the inclusion part"
---
Title: Add CSS card hover effects in the inclusion part
About:  I will be writing code to add css effects in inclusion part.
Name: Monalika Patnaik
Label: Feature Request
Assignee: ''

---

Define You:

- GSSOC Participant --Yes
-  Contributor--Yes

**Is your feature request related to a problem? Please describe.**

Yes, the inclusion part in the website looks static and can be improved by add

[2022-05-10 09:31] prathimacode-hub commented on #222
Issue assigned to @MonalikaPatnaik

[2022-05-12 11:59] Areebah03 commented on #203
@prathimacode-hub Please assign.

[2022-05-12 11:59] Areebah03 commented on #204
@prathimacode-hub Please assign

[2022-05-12 15:59] vaishnavighiradkar opened #223 "I2C Chat Application between Master and Slave"
---
Title: I2C Chat Application between Master and Slave
About: Creating connection between two or more Arduino boards.
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

We'll get to know how to create connection between two or more arduino boards.

**Describ

[2022-05-12 16:16] prathimacode-hub commented on #223
Issue assigned to @vaishnavighiradkar

[2022-05-12 16:18] prathimacode-hub commented on #204
We have been instructed to not assign basic issues. You can add something to this to make it eligible to be considered for GSSoC. @Areebah03

[2022-05-13 05:32] Areebah03 commented on #204
@prathimacode-hub I will improve working of button and add hover effects in favicon of footer

[2022-05-13 05:42] prathimacode-hub commented on #204
Ok, can you modify the context above so that I could assign it to you? @Areebah03

[2022-05-13 06:15] Areebah03 commented on #204
@prathimacode-hub  I have modified the issue accordingly.

[2022-05-13 06:22] prathimacode-hub commented on #204
Issue assigned to @Areebah03

[2022-05-13 11:59] #204 closed

[2022-05-13 12:01] #223 closed

[2022-05-15 12:46] VaibhavMogha commented on #220
Done.

[2022-05-15 12:46] #220 closed

[2022-05-15 12:51] shreya024 opened #227 "Motion Controlled Color Changer"
Title: Motion Controlled Color Changer using Arduino
About: I'll be implementing the color changer using PIR, RGB and Buzzer
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

[x] GSSOC Participant
[] Contributor
Describe the solution you'd like... I'll be implementing the color changer using PIR, RGB and Buzzer
file location: Minor scripts/Arduino

[2022-05-15 12:51] shreya024 commented on #227
@prathimacode-hub Kindly assign

[2022-05-15 13:00] vaishnavighiradkar opened #228 "Stopwatch Using Arduino"
---
Title: Stopwatch using Arduino
About: Creating a stopwatch using arduino
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

We will be able to learn how to write code for displaying time in hours, minutes, and seconds. And how to control this using push bu

[2022-05-15 15:24] prathimacode-hub commented on #227
Issue assigned to @shreya024

[2022-05-15 15:24] prathimacode-hub commented on #228
Issue assigned to @vaishnavighiradkar

[2022-05-15 15:25] prathimacode-hub commented on #220
Why have you closed? @VaibhavMogha

[2022-05-15 20:50] mohamedismail53 opened #229 "LCD interfacing with Atmega32"
Title: LCD interfacing with Atmega32
About: Creating a driver for LCD interfacing with atmega32 which required making a Dio driver
Name: Mohamed Ismail
Label: Feature Request
Assignee: ''

Define You:

 GSSOC22 Participant
 Contributor

Is your feature request related to a problem? Please describe.
Writing a string on an LCD or a number can be helpful with many embedded and IoT projects like calcu

[2022-05-16 06:48] #227 closed

[2022-05-16 18:19] prathimacode-hub commented on #229
Issue assigned to @mohamedismail53

[2022-05-17 09:18] DragonUncaged opened #231 "Arduino Door Bell"
Title: A door Bell System.

Label: Feature Request
Assignee: ''DragonUncaged"

Define You:

[x] GSSOC Participant
[x] Contributor

Describe the solution you'd like...
file location: IoT-Spot)/Arduino/

[2022-05-17 09:18] DragonUncaged commented on #231
assign

[2022-05-17 09:18] DragonUncaged commented on #231
/assign

[2022-05-17 09:24] DragonUncaged opened #232 "Burglar Alarm"
A Burglar alarm using AND gate such that the alarm should turn on whenever light falling on the LDR is disrupted.

Label: Feature Request
Assignee: ''DragonUncaged"

Define You:

[x] GSSOC Participant
[x] Contributor

Describe the solution you'd like...
file location: IoT-Spot)/Arduino/

[2022-05-17 09:26] DragonUncaged opened #233 "Digital Counter"
Digital Counter that Displays the Count.

![image](https://user-images.githubusercontent.com/72241207/168778408-2390211f-2b9c-4c1d-966d-0808f3809baf.png)

[2022-05-17 09:28] DragonUncaged opened #234 "2 way switch"
Suppose you are at the ground floor want to tun on the light of terrace.
and you are at the terrace you want to turn off the light of terrace.

switch for this scennario

[2022-05-17 09:31] DragonUncaged opened #235 "Arduino Automatic Temperature sensing Fan"
after certain temperature reached fan will be switched on

[2022-05-17 16:17] prathimacode-hub commented on #235
Issue assigned to @DragonUncaged. It should go into "IoT-Spot/Minor Scripts/Arduino"

[2022-05-17 16:18] prathimacode-hub commented on #231
Issue assigned to @DragonUncaged. It should go into "IoT-Spot/Minor Scripts/Arduino"

[2022-05-17 17:00] DragonUncaged commented on #234
2 way switch

[2022-05-18 09:26] SHRUTI-SINGH16 commented on #54
I would like to work on this issue under GSSoC 2022. Please assign me as a GSSOC Contributor.

[2022-05-18 12:35] #228 closed

[2022-05-18 12:41] prathimacode-hub commented on #233
Can you be elaborate. We have a similar project already done. Check [here](https://github.com/prathimacode-hub/IoT-Spot/tree/main/Minor%20Scripts/Arduino/Visitor%20counter) @DragonUncaged

[2022-05-18 12:42] prathimacode-hub commented on #234
Then change the issue title accordingly. @DragonUncaged

[2022-05-18 19:14] prathimacode-hub commented on #82
Go ahead. Task assigned to @Siddhi-Mundada

[2022-05-21 19:53] piyusha2001 opened #240 "Pressure Sensing using BMP280"
We can sense pressure with the help of BMP280 sensor controlled via arduino microcontroller. The code will contain the logic of blinking LED after a certain pressure is reached . Please assign me this issue under GSSoC'22.

[2022-05-22 09:01] prathimacode-hub commented on #240
I think this is already done. And always read contributing guidelines and README before you can create an issue. @piyusha2001

[2022-05-22 09:05] piyusha2001 commented on #240
@prathimacode-hub It is not done yet. I did check before creating an issue. Please verify once .

[2022-05-23 19:58] prathimacode-hub commented on #240
Ok issue assigned to @piyusha2001

[2022-05-23 19:59] prathimacode-hub commented on #240
Add the issue template here along with issue details as provided in the README and Contributing Guidelines. @piyusha2001

[2022-05-23 20:14] piyusha2001 commented on #240
---
Title: Pressure sensing using BMP280
About: We will get to know how to sense pressure using BMP280 module . To  see its working we will blink led after certain pressure is sensed.
Name: Piyusha Patil
Label: Feature Request
Assignee: Pratima Kadari

---

Define You:

- [x] GSSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Pressure sensing c

[2022-05-23 20:15] piyusha2001 commented on #240
Can you add gssoc tags for the same?

[2022-05-24 00:39] shreya024 opened #244 "Simon Says Game"
Title: Simon Says Game using Arduino
About: I'll be implementing the Simon says game using LED,Switch and Buzzer
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

[x] GSSOC Participant
[] Contributor
Describe the solution you'd like... I'll be implementing the game using PIR, RGB and Buzzer
file location: Minor scripts/Arduino

[2022-05-24 00:39] shreya024 commented on #244
@prathimacode-hub Kindly assign

[2022-05-24 05:37] prathimacode-hub commented on #244
Issue assigned to @shreya024

[2022-05-24 10:12] vaishnavighiradkar opened #245 "Printing IR remote input on an LCD screen"
---
Title: Printing IR remote input on an LCD screen
About: Suggest an idea for this project
Name: vaishnavighiradkar
Label: Feature Request
Assignee: ''

---

Define You:

- [X] GSSOC Participant
- [X] Contributor

**Is your feature request related to a problem? Please describe.**

We will learn how to use IR remote and IR sensor.

**Describe the solution you'd like...**

I'll be using IR remote,

[2022-05-24 14:59] vaishnavighiradkar commented on #245
Please assign this issue to me @prathimacode-hub ma'am

[2022-05-26 15:15] #244 closed

[2022-05-26 15:16] #240 closed

[2022-05-26 15:17] #245 closed

[2022-05-27 08:49] #216 closed

[2022-05-27 08:51] #229 closed

[2022-05-27 10:56] KiranAminPanjwani opened #249 "Adding a tab icon to your website."
- I want to add a tab icon according to your website.
- I am a GSSOC'22 participant, kindly assign this issue to me. Thank you.

[2022-05-27 11:24] vedsom commented on #69
mam i will complete it till tonight, sorry for being late i have my end sem exams.

[2022-05-27 11:38] prathimacode-hub commented on #69
Ok. @vedsom

[2022-05-27 19:45] SHRUTI-SINGH16 commented on #117
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:45] SHRUTI-SINGH16 commented on #158
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:46] SHRUTI-SINGH16 commented on #170
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:47] SHRUTI-SINGH16 commented on #191
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:48] SHRUTI-SINGH16 commented on #218
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:49] SHRUTI-SINGH16 commented on #210
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 19:49] SHRUTI-SINGH16 commented on #203
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-29 09:46] vedsom commented on #69
@prathimacode-hub  mam i have solved the issue , please look into it and merge it. As tomorrow is last date of contributing thankyou.

[2022-05-29 10:07] shreya024 opened #252 "Random Dice Thrower using Arduino"
Title: Random Dice Thrower using Arduino
About: I'll be implementing the Random Dice Thrower using 6 LEDs
Name: Shreya Ghosh
Label: Feature Request
Assignee: ''

Define You:

[x] GSSOC Participant
[] Contributor
Describe the solution you'd like... I'll be implementing the Random Dice Thrower using 6 LEDs and LCD
file location: Minor scripts/Arduino

[2022-05-29 10:07] shreya024 commented on #252
@prathimacode-hub Kindly assign

[2022-05-29 11:52] prathimacode-hub commented on #252
Issue assigned to @shreya024

[2022-05-29 12:07] prathimacode-hub commented on #69
Ok. @vedsom

[2022-05-29 12:08] #69 closed

[2022-05-29 12:10] prathimacode-hub commented on #249
This issue is not valid as this is been worked upon without getting assigned. Moreover, issue you solved is negligible as it doesn't fit GSSoC criteria @KiranAminPanjwani

[2022-05-29 12:28] KiranAminPanjwani commented on #249
Okay no problem.

[2022-05-30 10:12] prathimacode-hub commented on #234
Be specific about the title @DragonUncaged

[2022-05-30 10:13] prathimacode-hub commented on #222
Progress update? Today is the last date of GSSoC. @MonalikaPatnaik

[2022-05-30 10:14] prathimacode-hub commented on #169
Update Progress? Today is the last date for GSSoC. @CS50X-RGB

[2022-05-30 10:16] prathimacode-hub commented on #16
Update Progress? Today is the last date for GSSoC. @rk18venom

[2022-05-30 10:16] prathimacode-hub commented on #59
Update Progress? Today is the last date for GSSoC. @ShambhaviDixit09

[2022-05-30 10:21] CS50X-RGB commented on #169
No mam u can close this issue actually my issue was I can't code in node js which is required by microsoft Azure

[2022-05-30 10:25] prathimacode-hub commented on #169
We don't code in node js. It's a python code project and no need of Azure too. @CS50X-RGB

[2022-05-30 10:27] CS50X-RGB commented on #169
I have the code part of it only don't have the simulation

[2022-05-30 10:32] prathimacode-hub commented on #169
Ok send whatever you had done as a PR. @CS50X-RGB

[2022-05-30 10:32] CS50X-RGB commented on #169
Ok will do it by eve

[2022-05-30 10:40] vedsom opened #253 "Want to improve CSS style of navigation bar and contact page"
---
Title: Improvement of navigation option and contact page
About: want to improve the CSS part to make it more user friendly
Name: Abhishek Pandey
Label: Feature Request
Assignee: ''

---

Define You:

- [x] GSSOC Participant
- [x] Contributor

**Is your feature request related to a problem? Please describe.**

Currently when we hover over the option it has black background.
And in contact page

[2022-05-30 11:50] DragonUncaged opened #254 "Remote Control Home"
Title: Random Dice Thrower using Arduino
About: I'll be implementing the Remote Control For Home
Name: DragonUncaged
Label: Feature Request
Assignee: ''

Define You:

- [x] GSSOC Participant
- [x] Contributor

Describe the solution you'd like...
I'll be implementing the remote Control Home
file location: Minor scripts/Arduino

[2022-05-30 12:14] prathimacode-hub commented on #254
Issue assigned to @DragonUncaged

[2022-05-30 14:12] MonalikaPatnaik commented on #222
I have made the respective changes and you merged the pr as well (which fixes 226 )..kindly check..I

[2022-05-30 19:05] #232 closed

[2022-05-30 19:06] #231 closed

[2022-05-30 19:07] #254 closed

[2022-05-30 19:11] #252 closed

[2022-05-30 19:12] prathimacode-hub commented on #253
Could you add something more to this changes to validate as level 1 issue? @vedsom

[2022-05-30 19:21] vedsom commented on #253
@prathimacode-hub mam I can make other buttons such as about and contact us to make the more attractive and can also improve the inclusion part

[2022-05-30 19:31] vedsom commented on #253
Any other task which you want I can do it @prathimacode-hub mam

[2022-05-30 19:32] prathimacode-hub commented on #253
Yes, please. We have less time so include these things whatever you had mentioned right now and revert PR by tomorrow at the earliest. Add these details in issue description as well about the other changes. Assigning this issue to you. @vedsom

[2022-05-30 19:34] vedsom commented on #253
Thanku so much @prathimacode-hub mam I will not disappoint you.

[2022-05-31 06:22] #253 closed

[2022-06-06 08:06] #149 closed

[2022-07-31 04:06] Harsh3363 commented on #218
Hey
I can fix this please assign this to me

[2022-07-31 04:07] Harsh3363 commented on #210
Can i fix this?

[2022-07-31 18:03] prathimacode-hub commented on #210
@Harsh3363 @SHRUTI-SINGH16 The core of issue is not sufficient to validate as a PR. You can come up with new issue else you can add something more to it for being considered as level 1 issue.

[2022-07-31 19:56] Harsh3363 opened #259 "Improvement in interface"
There is more then required margin given in some places and also adding hover effect to the social media icons and subscribe button will be great

![IMG_20220801_012507.jpg](https://user-images.githubusercontent.com/72756692/182042937-34445464-817d-4ccb-af3d-96c782b48c5a.jpg)

[2022-07-31 19:57] Harsh3363 commented on #259
Hii @prathimacode-hub  please assign this to me i would like to make the required changes

[2022-08-01 04:43] prathimacode-hub commented on #259
Yes, but kindly go through the contributing guidelines. Add a issue template provide along with the details to get it assigned. @Harsh3363

[2022-08-01 04:45] prathimacode-hub commented on #259
Are you a Social Summer Of Code participant? @Harsh3363

[2022-08-01 05:24] Harsh3363 commented on #259
Sure I will do that

[2022-08-01 05:24] Harsh3363 commented on #259
Yes

[2022-08-04 13:53] Ahad1317 commented on #217
I WOULD LIKE TO WORK ON THIS ISSUE, CAN YOU PLEASE ASSIGN ME.

[2022-08-04 15:10] Anjuli08 opened #260 "Improvement in the design of Inclusion Section on the home page"
I want to change the design of Inclusion section present on the home page. at present it doesn't very well blend with the overall design of the site. So I want to design it in the form of card with better UI.

![Screenshot (62)](https://user-images.githubusercontent.com/90701800/182882054-832a4759-356d-4aaf-b689-92719f0d38d5.png)

[2022-08-04 16:48] Shaba1406 commented on #217
I would like to fix this problem and align to it in a center so can you please assign me this

[2022-08-04 17:17] Anjuli08 opened #261 "Improve UI of the Blog Page"
The **Card** styling such as design and color does not impressive enough. I would like to change **card designs**, color and
Improve **Navigation bar** of this section as well
![iot blog](https://user-images.githubusercontent.com/90701800/182911441-11569f3a-1741-49d9-a333-04ab00b56a27.png)

[2022-08-06 02:47] Anjuli08 commented on #261
---
Title: IoT-Spot
About: I want to Improve the UI of Blog section.
Name: Anjuli
Label: Bug Report
Assignee: ''

---

Define You:

- [X] SSOC Participant
- [X] Contributor

**Describe the Bug**
The present UI of the blog section is not impressive enough and the color palette also doesn't match the overall theme of the site.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Modifying t

[2022-08-06 06:05] prathimacode-hub commented on #261
Issue assigned to @Anjuli08

[2022-08-06 09:10] Harshil-Jani opened #263 "Blink the LED using RaspberryPI"
Basic task would be writing a program with RaspberryPI support to blink the LED.
- Setting a specific time and blink the LED at some interval.
- You're Welcome to add any other creative features into the program as per your wish.

Note : There is no need to work on Hardware only, You can also work on the Simulation tools and libraries available.

[2022-08-06 09:10] Harshil-Jani opened #264 "Detect the KeyPress on RaspberryPi"
Basic task would be writing a program with RaspberryPI support to detect the keyPress on your machine.
- You can try having one key assigned as an Exit key so, When you click it, The program gets terminate.
- Detect other keys apart from the Exit key assigned.
- You're Welcome to add any other creative features into the program as per your wish.

Note : There is no need to work on Hardware only, Y

[2022-08-06 09:11] Harshil-Jani opened #265 "Blink the LED on Keypress on Raspberry PI"
Basic task would be writing a program with RaspberryPI support to blink the LED when keyPress is detected.
- You can try having one key assigned as an Exit key so, When you click it, The program gets terminate.
- Detect other keys apart from the Exit key assigned and Blink LED at that moment.
- You're Welcome to add any other creative features into the program as per your wish.

Suggestion : Worki

[2022-08-06 09:24] Harshil-Jani opened #266 "Fix Contact Us button"
Title: IoT-Spot
About: Fix the Contact Us Button.
Name: @Harshil-Jani
Label: Bug Report
Assignee: ''

### Define You:
- [ ] SSOC Participant
- [ ] Contributor
- [X] Mentor

### Describe the Bug
When you click the Contact Us button then It will go to projects section.
But Instead of it, Make it to land on the Contact us section.

### Steps to Reproduce
- Click on the Contact Us button

![image](htt

[2022-08-06 09:36] Harshil-Jani opened #267 "Add links to Project"
Title: IoT-Spot
About: Add link to specific Directories.
Name: @Harshil-Jani
Label: Bug Report
Assignee: ''

### Define You:
- [ ] SSOC Participant
- [ ] Contributor
- [X] Mentor

### Describe the Bug
(Refer ScreenShot) We only have the texts for the project currently in the projects section. Instead of that, If we can have links to specific directories then it would help in navigatiing easily fro

[2022-08-07 07:41] prjailani commented on #266
Hi sir, I am a SSOC contributor. Can you please assign me this issue. Thanks.

[2022-08-07 07:43] Harshil-Jani commented on #266
Go Ahead !! @prjailani 🚀

[2022-08-07 10:11] popcandy1x commented on #267
Hi sir, I am a SSOC contributor. Can you please assign me this issue.

[2022-08-07 10:15] yk3066 commented on #263
I would like to work on this issue as part of ssoc.

[2022-08-07 11:12] prjailani commented on #266
Hi sir, I fixed the issue. Please checkout my PR #268. Thanks.

[2022-08-07 14:18] khanasif786 opened #271 "Add Blink simulation and code for Atmega32"
About: Add LED Blink code for Atemga32
Label: enhancement

Define You:
- [x] SSOC Participant
- [ ] Contributor
- [ ]  Mentor

Describe the Feature:
Adding a simple LED blink code feature in Atmega32A (latest version of atmega32) Microcontroller.

[2022-08-07 14:21] Harshil-Jani commented on #271
Sure ! Go Ahead 🚀

[2022-08-08 06:22] ShivanshAr97 opened #273 "Removing the scroll bar in the X direction [SSOC]"
![image](https://user-images.githubusercontent.com/96040322/183350250-3f754b3c-5e8f-4f9c-9152-bd76c69dbaa0.png)

**Removing the scroll bar in the X direction [SSOC]**

Define You:
- [x] SSOC Participant

Describe the Feature:
The scroll bar looks bad and is not necessary

[2022-08-08 12:09] ShivanshAr97 opened #275 "Improvement in the UI and design of "Take to Top" button [SSOC]"
Improvement in the UI of "Take to Top" button and adding button hover effect

![image](https://user-images.githubusercontent.com/96040322/183414406-2911e232-1bb3-49b9-844d-1408d8db7cb9.png)

On hover:
![image](https://user-images.githubusercontent.com/96040322/183414488-e869d98d-bb16-4083-a690-f6d516feee25.png)

Define You:

- [x] SSOC Participant

[2022-08-08 13:41] kunalranjan19 commented on #275
hey, can you assign this to me?

[2022-08-08 14:30] ShivanshAr97 commented on #275
Hey my bad. I forget to ask to assign it to me as I thought it is assigned to the one who reports the issues.
Mentors please assign it to me.

[2022-08-08 15:10] Harshil-Jani commented on #275
Ah ! @ShivanshAr97 Actually, I saw your issue at first only, and if you raise an issue we would have assigned it directly. But the constraint for this issue was that I think This is already being addressed in #261 . Maybe we can once confirm this and then If there is no activity for the same, I can assign the issue to you.

[2022-08-08 15:11] Harshil-Jani commented on #275
I am closing the issue currently to avoid duplication. But in case we would require this in future then we can always reopen the issue.

[2022-08-08 15:11] #275 closed

[2022-08-08 15:16] #273 closed

[2022-08-08 15:22] ShivanshAr97 commented on #275
Ok! Should I then try opening it once issue #261 is closed and this button has not been addressed?

[2022-08-08 15:26] #267 closed

[2022-08-08 16:36] ShivanshAr97 commented on #275
Hey, btw I did notice that "To the top" button is present not only in blog page bit on the main page as well.
So, not sure it will be covered in this issue.

[2022-08-09 12:53] KshitizSachan commented on #264
Hi, Kshitiz here. I would like to work on this issue.

[2022-08-09 16:36] ShivanshAr97 opened #279 "Improving hover effect in Navbar [SSOC]"
**Define You:**
- [x] SSOC Participant
- [ ] Contributor
 Mentor

**Describe the Bug**
Improving the hover effects and making "Let's Connect" button pointer

**Steps to Reproduce**
Hover on the site navbar

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/183708038-c094d7d9-5cfd-4c60-b5af-4eb6ae1a497e.png)

[2022-08-09 16:37] ShivanshAr97 commented on #279
Please assign it to me

[2022-08-09 19:35] #271 closed

[2022-08-10 05:12] mdnazisharman2803 commented on #279
@ShivanshAr97 you can work on

[2022-08-10 15:02] ShivanshAr97 opened #282 "Content improvement"
**Define You:**
- [x] SSOC Participant
- [ ] Contributor
- [ ] Mentor

**Describe the Bug**
Improving the content i.e, correcting the grammatical error.

**Steps to Reproduce**
Footer page of the website

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/183936719-cbabc2bc-5b66-4136-a036-bfabc0c714d0.png)

[2022-08-11 19:26] #282 closed

[2022-08-12 05:32] mdnazisharman2803 commented on #279
Done

[2022-08-12 05:32] #279 closed

[2022-08-12 05:48] ShivanshAr97 opened #286 "Improvement in UI of Inclusion section [SSOC]"
**Define You:**
- [x] SSOC Participant
- [ ] Contributor
- [ ] Mentor

**Describe the Bug**
Improving the interface of "Inclusion Section"

**Steps to Reproduce**
Go to the inclusion section on the website

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/184291818-5bbbd543-0863-43ef-b1c8-2b4571781b16.png)

[2022-08-12 05:48] ShivanshAr97 commented on #286
Please assign it to me

[2022-08-12 10:35] ShivanshAr97 opened #288 "Improving UI of accomplishment page [SSOC]"
**Define You:**
- [x] SSOC Participant
- [ ] Contributor
- [ ] Mentor

**Describe the Bug**
Improving the interface of Accomplishment section
(Reducing the margin, padding, increasing font size, font weight)

**Steps to Reproduce**
Go to the accomplishment section on the website

**Screenshot**
![image](https://user-images.githubusercontent.com/96040322/184336975-eba9c077-20bf-4caa-9a74-a9c3d5c1d1

[2022-08-12 10:35] ShivanshAr97 commented on #288
Please assign it to me

[2022-08-12 18:43] #286 closed

[2022-08-15 04:19] ArthrowAbstract opened #290 "Make an Alarm Clock Using Raspberry PI 3b"
---
Title: Make an Alarm Clock Using Raspberry PI 3b
About: This project involves the use of buzzer/speakers to ring at desired times.
Name: Devanshu Sinha
Label: Feature Request
Assignee: Devanshu Sinha

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

**This is not a problem but a fun little project for beginners who

[2022-08-15 11:21] adithya-s-k opened #291 "Basic LED Blinking Using ESP8266"
---
Title: Basic LED Blinking Using ESP8266
About: writing a program with ESP8266 to blink the LED and set the time interval at which it blinks
Name: Adithya S Kolavi
Label: Feature Request
Assignee: 'adithya-s-k'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Blinking LED is the first project which helps set up the m

[2022-08-15 14:11] prathimacode-hub commented on #291
Issue assigned to @adithya-s-k

[2022-08-15 14:11] prathimacode-hub commented on #290
Issue assigned to @ArthrowAbstract

[2022-08-16 19:21] Ankitdas05 opened #294 "Basic RGB LED Blinking Using ESP8266"
About: writing a program with ESP8266 to blink the RGB LED and set the time interval at which it blinks
Name: Ankit Das
Label: Feature Request
Assignee: 'Ankitdas05'

**Define You:**
- [x] SSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**
Blinking RGB LED is the project which helps set up the microcontroller, this will help check if everything i

[2022-08-17 03:47] adithya-s-k commented on #291
@prathimacode-hub I have finished executing the code on my ESP8266(Hardware) and it works. Can you recommend any simulator software for the ES8266

[2022-08-18 13:38] Kritika0035 commented on #127
I want to work on this issue ?

[2022-08-19 12:02] Kritika0035 opened #295 "navigation bar UI"
I would like to write the css code for navigation bar.

[2022-08-20 15:43] #295 closed

[2022-08-21 13:34] #261 closed

[2022-08-21 13:49] AnshuMishra01 opened #300 "Style the Navbar"
![Screenshot 2022-08-21 191748](https://user-images.githubusercontent.com/95041038/185794071-bd5b0d0f-5ae2-440c-ba6b-7790871f531d.png)

The styling of navbar is still incomplete

[2022-08-22 04:09] #260 closed

[2022-08-22 11:12] MridulTi opened #301 "Fixing the Layout UI for the Main page"
Define You:

- [x]  SSOC Participant

Here the Layout of The Home page does not look pleasing as it is stretching to the end of the window
No spacing is there and the text is also not centered and bleeding out of the screen...

![image](https://user-images.githubusercontent.com/92802892/185906580-2af322e2-913e-4f68-9acb-a9fb354a9f96.png)

Expected Result:
The LAyout Should Look something like this

[2022-08-22 18:25] adithya-s-k opened #302 "Basic LED Blinking Using ESP32"
---
Title: Basic LED Blinking Using ESP32
About: writing a program with ESP32 to blink the LED and set the time interval at which it blinks
Name: Adithya S Kolavi
Label: Feature Request
Assignee: 'adithya-s-k'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

---

Is your feature request related to a problem? Please describe.
Blinking LED is the first project which helps set up the micr

[2022-08-22 18:33] prathimacode-hub commented on #302
Issue assigned to @adithya-s-k

[2022-08-22 18:34] prathimacode-hub commented on #300
Can you be elaborate? @AnshuMishra01

[2022-08-24 07:39] ShivanshAr97 opened #303 "Converting the website into PWA [SSOC]"
I would like to convert the website into a Progressive Web Application so that it can be installed in the user device or added to home screen and can also function offline.

[2022-08-24 07:39] ShivanshAr97 commented on #303
Please assign it to me!

[2022-08-24 11:15] mdnazisharman2803 commented on #303
i mean, what if i dont want to install web application, will i be still able to view website without installing it

[2022-08-24 13:03] ShivanshAr97 commented on #303
Yes yes
It will show such option
![image](https://user-images.githubusercontent.com/96040322/186424671-23c3983b-98d5-4c8f-8de2-cd42f5c9f71d.png)

Then give an option like:
![image](https://user-images.githubusercontent.com/96040322/186424993-8d0c5cdf-2d54-41bd-bdeb-0c05e9aca327.png)

For mobiles, it will show an option to add the site to home screen and after adding, it will be visible along with

[2022-08-24 14:08] mdnazisharman2803 commented on #303
ok @ShivanshAr97  assigned

[2022-08-25 19:44] Harshil-Jani commented on #303
@ShivanshAr97 Mention about the PWA Into the README. Since the PR is already merged and I don't want to revert it back to make things more complex, You can just create a new PR with PWA how to install it and how it helps all of these saying in a readme in few words.

[2022-08-26 15:20] Kritika0035 commented on #170
I would like to design the Logo of this Iot-Spot website. Pls assign me this issue.

[2022-08-29 15:42] khanasif786 opened #309 "Add Distance sensing using ultrasonic in Atemga32 microcontroller"
About: Add Distance sensing using ultrasonic module for Atemga32 micro-controller
Label: enhancement

Define You:
- [x] SSOC Participant
- [ ] Contributor
- [ ]  Mentor

Describe the Feature:
Adding a distance sensing feature using ultrasonic and displaying it on LCD module.

[2022-08-29 18:13] #309 closed

[2022-08-30 05:03] khanasif786 commented on #265
@Harshil-Jani Is this still open?one of the mentioned issues are closed #267 #264

[2022-09-05 19:24] #291 closed

[2022-09-06 18:32] #302 closed

[2022-09-10 16:18] prjailani commented on #266
We can now close this issue

[2022-09-10 16:26] prjailani opened #311 "Social Icons not showing on website"
---
About: Social Icons not showing on website
Name: Abdul Kader Jailani P R
Label: Bug Report
Assignee: 'prjailani'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

**Describe the Bug**
Social Media icons not showing on website

**Expected Behavior**
Need to show social media icons in the buttons

**Actual Behavior**
Transparent background only showing on the website

**Screenshots/Bl

[2022-09-11 04:31] adithya-s-k opened #312 "Measuring Temperature and Humidity with DHT22 on a ESP32"
---
Title: Measuring Temperature and Humidity with DHT22 on a ESP32
About: i will be using the DHT22 sensor to measure temperature and humidity
Name: Adithya S Kolavi
Label: Feature Request
Assignee: '[adithya-s-k](https://github.com/adithya-s-k)'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

[2022-09-11 04:31] adithya-s-k commented on #312
@prathimacode-hub please assign this issue to me

[2022-09-11 04:35] adithya-s-k commented on #294
@snktshrma can you assign this issue to me?

[2022-09-11 06:50] snktshrma commented on #294
@adithya-s-k! Done

[2022-09-13 17:53] d3mEnt0r commented on #300
Please assign this issue to me

[2022-09-13 17:55] mdnazisharman2803 commented on #300
what changes will you make?

[2022-09-13 17:58] d3mEnt0r commented on #300
I will style the navbar headings in proper line and make it responsive, so when the web page get smaller it opens in a drop down menu

[2022-09-13 17:58] mdnazisharman2803 commented on #300
@d3mEnt0r i am assigning you this, but make sure to add output screenshot, when i will feel the change is necessary i will consider the pr.

[2022-09-13 17:59] d3mEnt0r commented on #300
ok sir

[2022-09-14 04:33] adithya-s-k opened #314 "Using ESP32 inbuilt Hall Sensor and Touch Sensor"
---
Title: Using ESP32 inbuilt hall sensor and Touch sensor
About: ESP32 has an inbuilt touch sensor hall sensor which basically measures magnetic field
Name: Adithya S Kolavi
Label: Feature Request
Assignee: ' [adithya-s-k](https://github.com/adithya-s-k) '

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

[2022-09-14 04:33] adithya-s-k commented on #314
@prathimacode-hub  can you please assign me this Issue

[2022-09-14 17:17] #312 closed

[2022-09-16 03:27] adithya-s-k opened #316 "Using ESP32 to create a web server which controls an LED"
---
Title: Using ESP32 to create a web server which controls an LED
About: this projects lets you connect to the ESP32 and then through the web server interface you will be able to control an LED
Name: Adithya S Kolavi
Label: Feature Request
Assignee: ' [adithya-s-k](https://github.com/adithya-s-k) '

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

[2022-09-17 11:49] Kedyi opened #317 "Social Icons not showing on website"
About: Social Icons not showing on website
Name: Komal
Label: Bug Report
Assignee: 'Kedyi'

## Related Issue

- Social Media icons not visible

- [x] SSOC Participant
- [ ] Contributor

Closes: #311 issue number that will be closed through this PR

Describe the Bug
Social Media icons not showing on website

Expected Behavior
Should show social media icons in the buttons

Actual Behavior
Transparen

[2022-09-18 19:37] #314 closed

[2022-09-20 13:56] adithya-s-k opened #320 "Controlling Servo motor using ESP32 || pre-programmed values and also through Web server"
---
Title: Controlling Servo motor using ESP32 || pre-programmed values and also through Web server
About: This project will let you control a servo motor using the ESP32 using a webserver and also preprogrammed path
Name: Adithya S Kolavi
Label: Feature Request
Assignee: '[adithya-s-k](https://github.com/adithya-s-k)'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

[2022-09-20 15:32] yk3066 commented on #265
Can I work on this?
please assign me as part of SSOC

[2022-09-20 18:49] #316 closed

[2022-09-22 13:39] muskan467 commented on #117
---
Title: IoT-Spot Website
About: Adding a Favicon on tab of website
Name: Muskan Ali Qureshi
Label: Feature Request
Assignee: ''

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

Website tab icon is missing

**Describe the solution you'd like...**

I will add favicon icon to the website.

**Additional context**

![Scr

[2022-09-22 18:25] #320 closed

[2022-09-23 06:21] ShravaniAK commented on #203
can i work on this

[2022-09-23 11:49] muskan467 commented on #117
@mdnazisharman2803 please assign this to me

[2022-09-23 11:53] mdnazisharman2803 commented on #117
@muskan467 you've been assigned

[2022-09-26 05:49] adithya-s-k opened #323 "ESP32 web server control relay and 220 volt lamp"
---
Title: ESP32 web server control relay and 220 volt lamp
About: Basic project to get into home automation
Name: Adithya S Kolavi
Label: Feature Request
Assignee: '[adithya-s-k](www.github.com/adithya-s-k)'

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

[2022-09-26 05:50] adithya-s-k commented on #323
@mdnazisharman2803 @prathimacode-hub please assign this issue to me

[2022-09-26 16:48] #117 closed

[2022-09-27 05:29] adithya-s-k opened #325 "ESP32/ESP8266 HTTP Authentication Web Server (Username and Password Protected)"
---
Title: ESP32/ESP8266 HTTP Authentication Web Server (Username and Password Protected)
About: A secure way9 of connecting to the ESP32 as well as ESP8266
Name: Adithya S Kolavi
Label: Feature Request
Assignee: ['adithya-s-k'](https://github.com/adithya-s-k)

---

Define You:

- [x] SSOC Participant
- [ ] Contributor

[2022-09-27 17:31] #323 closed

[2022-09-28 08:31] prathimacode-hub commented on #203
You can create a new issue, since it's initiated by other and get it assigned. @ShravaniAK

[2022-09-28 18:50] #325 closed

[2022-09-30 11:02] prjailani commented on #266
I fixed it 20 days ago on PR #307  So we can close this issue now.

[2022-10-01 22:32] #266 closed

[2022-10-08 22:56] SayuriYuto opened #328 "Updating ReadMe of ESP32 folder with information"
---
Title: Updating ReadMe of ESP32 folder with information
About: The ReadMe should contain information regarding the ESP32 board and how to install them.
Name: SayuriYuto
Label: Feature Request
Assignee: ''

---

Define You:

- ✅Hacktoberfest Participant
- ✅Contributor

**Is your feature request related to a problem? Please describe.**

Many IOT developers wish to move forward from the world of

[2022-10-09 07:24] Anjuli08 opened #329 "Enhancement in Blog page"
I want to improve the UI of blog page under Hacktoberfest'22

[2022-10-12 09:37] prathimacode-hub commented on #328
Issue assigned to @SayuriYuto

[2022-10-15 06:40] #328 closed

[2022-10-15 06:40] prathimacode-hub commented on #329
Issue assigned to @Anjuli08

[2022-10-17 13:42] adithya-s-k opened #332 "ESP32 Bluetooth based LED control(GPIO control)"
---
Title: ESP32 Bluetooth based LED control(GPIO control)
About: The esp32 not only has Wi-Fi connection but also has Bluetooth inbuilt
Name: Adithya S Kolavi
Label: Feature Request
Assignee: [adithya-s-k](https://github.com/adithya-s-k)

---

Define You:

- [x] Hacktoberfest Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

The main feature of the

[2022-10-20 03:26] adithya-s-k commented on #332
@prathimacode-hub  can you assign this issue to me

[2022-10-20 10:02] prathimacode-hub commented on #332
Issue assigned to @adithya-s-k

[2022-10-22 13:33] #332 closed

[2022-10-22 18:21] adithya-s-k opened #334 "ESP32 push and pull data from google firebase"
---
Title: ESP32 push and pull data from google firebase
About: The main purpose of IOT devices is to send and retrieve data from the cloud
Name: Adithya S Kolavi
Label: Feature Request
Assignee: [adithya-s-k](https://github.com/adithya-s-k)

---

Define You:

- [x] Hacktoberfest Participant
- [ ] Contributor

**Is your feature request related to a problem? Please describe.**

This project will en

[2022-10-22 18:21] adithya-s-k commented on #334
@prathimacode-hub can you please assign me this issue under hacktober fest

[2022-10-22 18:34] adithya-s-k opened #335 "ESP32 GPIO control using google firebase"
---
Title: ESP32 GPIO control using google firebase Realtime database
About: Controlling GPIO pins through a web app which has firebase as the backend
Name: Adithya S Kolavi
Label: Feature Request
Assignee: [adithya-s-k](https://github.com/adithya-s-k)

---

Define You:

- [x] Hacktoberfest Participant
- [ ] Contributor

[2022-10-22 18:35] adithya-s-k commented on #335
@prathimacode-hub can you assign this issue to me under hacktoberfest 22

[2022-10-23 14:49] prathimacode-hub commented on #335
Issue assigned to @adithya-s-k

[2022-10-24 06:55] SayuriYuto opened #337 "Updating ReadMe of ESP8266 folder with information"
Title: Updating ReadMe of ESP8266 folder with information
About: The ReadMe should contain information regarding the ESP8266 board and how to install them.
Name: SayuriYuto
Label: Feature Request

Define You:

✅Hacktoberfest Participant
✅Contributor

Is your feature request related to a problem? Please describe.

Many IOT developers wish to move forward from the world of Arduino into the vast eco

[2022-10-24 07:19] SayuriYuto commented on #337
Hey @prathimacode-hub can you please asssign this issue to me!!

[2022-10-24 10:13] SayuriYuto commented on #337
Here is what I am planning to represent
https://github.com/SayuriYuto/IoT-Spot/tree/esp8266info/ESP8266

[2022-10-26 10:51] its-abhishek commented on #218
I would like to work on this issue

[2022-10-26 10:53] its-abhishek commented on #217
can I work on this issue

[2022-10-26 10:54] its-abhishek commented on #203
I would like work on this issue

[2022-10-27 04:52] its-abhishek commented on #311
@prjailan ,I would like to work on this issue, can u plss assign me this issue under the HACKTOBERFEST'22

[2022-10-27 10:00] its-abhishek opened #338 "social icons are not showing in a website"
can I fix this issue under HACKTOBERFEST '22

[2022-10-27 10:05] its-abhishek commented on #338
@prathimacode-hub can u assign me this issue under the HACKTOBERFEST '22

[2022-10-29 06:46] #334 closed

[2022-10-29 15:28] prathimacode-hub commented on #337
Issue assigned to @SayuriYuto

[2022-10-30 05:16] #337 closed

[2022-10-30 05:17] prathimacode-hub commented on #329
Update please? @Anjuli08

[2022-10-30 05:17] prathimacode-hub commented on #335
Update please? @adithya-s-k

[2022-10-30 05:17] prathimacode-hub commented on #338
Can you elaborate the issue? @its-abhishek

[2022-10-30 05:25] prathimacode-hub commented on #203
This issue is not necessary now. You can express interest on other issues or come up with a new one. @its-abhishek

[2022-10-30 06:38] Anjuli08 commented on #329
I can't edit the page as the navbar is not visible even if I try to clone it all over again! Can you pls suggest something for this?

![Screenshot (89)](https://user-images.githubusercontent.com/90701800/198865882-0390ba68-022d-448d-9e22-fee8b1c1b9d4.png)

[2022-10-30 07:13] prathimacode-hub commented on #329
First remove the forked repository. Re-fork the repository, merge the changes and then you can do edit or work on to the issue. @Anjuli08

[2022-10-30 07:25] prathimacode-hub commented on #217
This is not necessary to be worked upon now. @its-abhishek

[2022-10-30 13:43] Anjuli08 commented on #329
I did the same more than twice but same project appears!!

[2022-10-30 13:48] its-abhishek commented on #338
![Screenshot 2022-10-30 191712](https://user-images.githubusercontent.com/100339461/198881993-e2040fa4-fa8e-495c-899b-441391e666f5.jpg)
@prathimacode-hub here the social icons are not working

[2022-10-30 13:51] prathimacode-hub commented on #329
What's the issue that's popping up? @Anjuli08

[2022-10-30 13:57] Anjuli08 commented on #329
I cloned this project after forking and re forking again n again but when i open index file on my browser it shows same page whose screenshot i shared above where i can't see navbar and hence i can't switch to blogs page. and when i checked for the blog file code it was showing which i made previously but on main deployed project link, it shows different UI of blog page which i wanted to enhance

[2022-10-30 13:58] Anjuli08 commented on #329
In short the deployed view of the project is completely different from the one which i can see after cloning to my local and the navbar on the cloned one it invisible